.login_page {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 99%;
    overflow: hidden;
    background-attachment: fixed;
    background-color: #5bc9c5;
    background-image: url(../../../../../../assets/img/bg3.png);
    background-size: cover;
}
.loginpage h1 a {
    background-image: url(../../../../../../assets/img/soc-login-logo.png);
}
.loginpage h1 a {
    display: block;
    width: auto;
    height: 92px;
    min-height: 92px;
    padding: 0;
    margin: 0 auto 0 auto;
    overflow: hidden;
    text-decoration: none;
    text-indent: -9999px;
    background-color: transparent;
    /* background-image: url(../img/login-logo.png); */
    background-position: center top;
    background-repeat: no-repeat;
    -moz-background-size: 345px 92px;
    -o-background-size: 345px 92px;
    background-size: 345px 92px;
    outline: 0;
}
.login-wrapper {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}
.loginpage, .loginpage form label, .loginpage form, .loginpage .message {
    color: #fff;
}
.loginpage {
    padding: 70px 50px 80px 50px;
    margin-top: 5%;
    background-color: rgba(0,0,0,0.5);
}
.loginpage form {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 0;
    overflow: hidden;
    font-weight: 400;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.loginpage form .forgetmenot {
    display: block;
    float: left;
    width: 100%;
    margin: 12px 0 11px 0!important;
    margin-bottom: 0;
    font-weight: 400;
}
.loginpage form p.submit {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
.loginpage #nav a, .loginpage a {
    font-size: 16px;
    color: rgba(255,255,255,0.8);
}
.loginpage form .input, .loginpage input[type=text] {
    width: 100%;
    padding: 9px;
    margin: 5px 0 15px 0;
    font-size: 19px;
    line-height: 25px;
    border: 0 solid transparent;
    border-bottom: 2px solid rgba(255,255,255,0.7);

}
.loginpage form .forgetmenot {
    display: block;
    float: left;
    width: 100%;
    margin: 12px 0 11px 0!important;
    margin-bottom: 0;
    font-weight: 400;
}
.loginpage form .input, .loginpage form input[type=checkbox], .loginpage input[type=text] {
    padding-left: 0;
    background-color: transparent;
    outline: 0;
}

.loginpage form .input, .loginpage input[type=text] {
    font-weight: 500;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    -ms-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    -o-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}


.loginpage form p.submit {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
.btn.btn-accent {
    color: #fff;
    background: #7a6a93;
}
.nav a:hover{
    text-decoration: underline;
    cursor: pointer !important;
}
.loginpage form .forgetmenot {
    display: block;
    float: left;
    width: 100%;
    margin: 12px 0 11px 0!important;
    margin-bottom: 0;
    font-weight: 400;
}
.loginpage label {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    text-transform: uppercase;
}