<div class="login_page">
    <div class="register-wrapper">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-3 col-2"></div>
            <div id="register" class="login social_media loginpage col-lg-4 col-md-6 col-sm-6  col-8">
                <h1><a href="#" title="Login Page" tabindex="-1">Slant Admin - Angular</a></h1>

                <form name="form" class="form-validation" [formGroup]="signupForm">
                    <!-- <div class="text-danger wrapper text-center" ng-show="authError">
                        {{authError}}
                    </div> -->
                    <div>

                        <input type="text" name="name" id="user_name" class="input" placeholder="Full Name" formControlName="first_name"/>
                        <p *ngFor="let error_msg of validationMessages.first_name">
                            <span class="text-danger"
                                *ngIf="(!signupForm.get('first_name').valid) && (signupForm.get('first_name').touched || signupForm.get('first_name').dirty)">
                                {{error_msg.message}}
                            </span>
                        </p>
                    </div>
                    <div>

                        <input type="email" name="log" id="user_login" class="input" placeholder="Email" formControlName="email"/>
                        <p *ngFor="let error_msg of validationMessages.email">
                            <span class="text-danger"
                                *ngIf="(!signupForm.get('email').valid) && (signupForm.get('email').touched || signupForm.get('email').dirty)">
                                {{error_msg.message}}
                            </span>
                        </p>
                    </div>
                    <div>

                        <input type="password" name="pwd" id="user_pass" class="input" placeholder="Password" formControlName="password"/>
                        <p *ngFor="let error_msg of validationMessages.password">
                            <span class="text-danger"
                                *ngIf="(!signupForm.get('password').valid) && (signupForm.get('password').touched || signupForm.get('password').dirty)">
                                {{error_msg.message}}
                            </span>
                        </p>
                    </div>
                    <p class="forgetmenot">
                        <label class="icheck icheck-white" for="rememberme">
                            <input type="checkbox" value="forever" name="rememberme" checked id="rememberme">
                            <i></i> I agree to terms to conditions
                        </label>
                    </p>



                    <p class="submit">
                        <button type="submit" name="wp-submit" id="wp-submit" class="btn btn-accent btn-block"
                            ng-click="register()" ng-disabled='form.$invalid'>Sign Up</button>
                    </p>
                </form>

                <p id="nav">
                    <a class="pull-left" [routerLink]="['/forgot']" title="Password Lost and Found">Forgot password?</a>
                    <a class="pull-right" [routerLink]="['/login']" title="Sign In">Sign In</a>
                </p>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-3 col-2"></div>

        </div>
    </div>
</div>