<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-9 col-lg-9 col-sm-9">
            <div class="clearfix"></div>
            <button type="button" title="Double click on calendar day to create event"
                class="btn btn-sm btn-submit text-center" (click)="addEvent()">
                Add Event
            </button>

            <div class="clearfix"></div><br>
            <full-calendar #calendar defaultView="dayGridMonth" [header]="{
                left: 'prev, ',
                center: 'title',
                right: 'today dayGridMonth,timeGridWeek,timeGridDay,listWeek, next'
              }" [locales]="this.locales" (datesRender)="dateRender($event)" [plugins]="calendarPlugins"
                [weekends]="calendarWeekends" (dateClick)="days($event)" (eventDrop)="changing($event)"
                [events]="calendarEvents" [editable]="true"timeZone="UTC">
            </full-calendar>
        </div>
        <div class="col-12 col-md-3 col-lg-3 col-sm-3">
            <h3 class="even">All Events</h3>
            <perfect-scrollbar style="max-width: 600px; max-height: 100vh;" id="myDiv">
                <form [formGroup]="form">
                    <div formArrayName="events" *ngFor="let item of form.get('events'); let i = index">
                        <div class="" [formGroupName]="[i]" class="card events">
                            <h4><input type="text" value="{{item.get('title').value}}" class="form-control full"
                                    formControlName="title" (change)="changingValue($event, i)"></h4>
                            <p>{{item.get('date').value | date: 'medium'}} <span class="float-right"><i
                                        class="fa fa-trash-o" (click)="removeItem(i)"></i></span></p>
                        </div>
                    </div>
                </form>
            </perfect-scrollbar>
        </div>
    </div>
</div>