.events{
    background: #fff;
    border-left: 2px solid #847f9f;
    padding: 4px 10px;
    height: 85px;
    margin-bottom:5px;
    border-radius: 0;;
}
hr{
    margin: 0;
}
.events h4{
    font-size: 14px;
    margin:0;
    padding-top:10px;
    padding-bottom:10px;
    color: #757575;
}
.events p {
    margin: 0;
    font-size:12px;
    padding: 3px 0;
}
.even{
    font-size: 18px;
    color: #757575;
}
@media (min-width: 1021px) and (max-width: 1200px) {
    .fc-center h2{
        margin-left: 191px;
    }
    .fc-next-button{
        float: right;
    }
}
