<!-- =====================================================    MONTHLY SURVEY STARTS HERE ======================================================== -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        STUDENT MONTHLY SURVEY
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="monthlySurvey = !monthlySurvey">{{monthlySurvey ? 'expand_more': 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">

                    <div class="row" *ngIf="monthlySurvey">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">

                            <div style="display: block;">
                                <canvas baseChart width="600" height="300" [datasets]="lineChartData1"
                                    [labels]="lineChartLabels1" [options]="lineChartOptions1"
                                    [colors]="lineChartColors1" [legend]="lineChartLegend1" [chartType]="lineChartType1"
                                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                            </div>

                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- =====================================================    MONTHLY SURVEY ENDS HERE ======================================================== -->
<!-- ==============================================================    CUSTOMERS AND LEADS STARTS HERE ==================================================  -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        STUDENT PASSING
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="customerLead = !customerLead">{{customerLead ? 'expand_more':'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="customerLead">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div>
                                <div style="display: block">
                                    <canvas baseChart [datasets]="barChartData1" [labels]="barChartLabels1"
                                        [options]="barChartOptions1" [colors]="barChartColor1" [legend]="barChartLegend1"
                                        [chartType]="barChartType1">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- ==============================================================    CUSTOMERS AND LEADS ENDS HERE ==================================================  -->

<!-- =====================================================  GROWTH GRAPHY BY YEAR STARTS HERE ======================================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        STUDENT TEST SCORE BY SUBJECTS
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="growthGraph = !growthGraph">{{growthGraph ? 'expand_more': 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="growthGraph">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">

                            <div style="display: block;">
                                <canvas baseChart width="600" height="300" [datasets]="lineChartData2"
                                    [labels]="lineChartLabels2" [options]="lineChartOptions2" [colors]="lineChartColors2"
                                    [legend]="lineChartLegend2" [chartType]="lineChartType2"
                                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                            </div>

                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- =====================================================  GROWTH GRAPHY BY YEAR ENDS HERE ======================================================== -->
<!-- =====================================================    CUSTOMER SATISFACTION LEVEL STARTS HERE ========================================= -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        STUDENT SATISFACTION LEVEL
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="customerSatisfaction = !customerSatisfaction">{{customerSatisfaction ? 'expand_more' : 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">

                    <div class="row" *ngIf="customerSatisfaction">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div>
                                <div style="display: block">
                                    <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels2"
                                        [options]="barChartOptions2" [colors]="barChartColor2" [legend]="barChartLegend2"
                                        [chartType]="barChartType2">
                                    </canvas>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- =====================================================    CUSTOMER SATISFACTION LEVEL ENDS HERE ========================================= -->