 
@import '~perfect-scrollbar/css/perfect-scrollbar.css';


.top_input{
    top: 12px;
    position: absolute;
    margin-left: 25px;
    width: 200px;
}
.top_input .form-control{
width: 100%;
}
.top_input .form-control:focus, .top_input .form-control{
    border-color: #ec8e72;
    
}
.chats{
    position: fixed;
    padding: 0px;
    background-color: #37474F;
    margin-top: 0px;
    top: 0px;
    right: 0px;
    z-index: 9999;
    width: 280px;
    height: 100%;
}
.small_side_bar perfect-scrollbar {
    overflow: visible;
}
.chat-slant{
    margin-left: 30px;
    height: 60px;
    background-color: #ec8e72;
}

.chat-slant:before {
    background-color: #ec8e72;
    padding: 0px;
    height: 60px;
}
.chat-slant::before{
    display: block;
    content: " ";
    width: 40px;
    height: 60px;
    background-color: #ec8e72;
    position: absolute;
    -moz-transform: skewX(30deg);
    -o-transform: skewX(30deg);
    transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    -webkit-transform: skewX(30deg);
    z-index: 1;
    top: 0px;
    margin-left: -17px
}
.chat-slant a{
    position: relative;
    z-index: 2;
    padding-right: 15px;
}
.chat-slant a i{
    background-color: #ec8e72;
    padding: 13px 11px 15px 0;
    line-height: 11px;
    color: #fff;
    top: 12px;
}
.search{
    color: #ec8e72 !important;
}
.top-bar{
    min-height: 60px;
    position: fixed;
    width: 100%;
    background-color: #37474F;
    top: 0px;
    left: 0px;
    z-index: 1999;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    max-height: 60px;
}
.logo-bar-shift{
    background-image: url(../../../../assets//img/logo-folded.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #ec8e72;
    width: 60px;
    display: inline-block;
    min-height: 60px;
    position: relative;
    top: -1px;
}
.padd{
    padding: 0;
}
.logo-bar{
    background-image: url(../../../../assets//img/logo.png);
    background-repeat: no-repeat;
    -webkit-transition: .0s;
    -moz-transition: .0s;
    transition: .0s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    -moz-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    width: 200px;
    background-color: #ec8e72;
    display: block;
    min-height: 60px;
    float: left;
}

.block{
    display: inline-block;
}
.toggle{
    position: relative;
}
.tick{
    height: 60px;
    margin: 0;
    line-height: 110px;
    padding: 0;
    background-color: #ec8e72;

}
.icon1{
    position: relative;
    z-index: 2;
    padding-right: 7px;
    padding-left: 7px;
    cursor: pointer;

}
.img-circle-top{
    cursor: pointer;
    height:30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 15px;
   
}
.badge-primary{
    position: absolute;
    font-size: 10px;
    padding: 3px;
    margin: 10px 0 0 -10px;
    width: 15px;
    height: 15px;
    background-color: #568c98;
    color: #ffffff;
    top: 0px;
    border-radius: 14px;
}
.badge-accent{
    background-color: #ec8e72;
    color: #ffffff;
    position: absolute;
    font-size: 10px;
    padding: 3px;
    margin: 10px 0 0 -10px;
    width: 15px;
    height: 15px;
    top: 0px;
    border-radius: 14px;
}
.profile_status{
    height: 14px;
    width: 14px;
    border: 2px solid #37474F;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 103px;
    background-color: #46be8a;
}
.icon{
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding-right: 15px;
    padding-left: 15px; 
    position: relative;
    top: -15px;
    z-index: 2;
    cursor: pointer;
}
.line{
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #ec8e72;
    content: " ";
    top: 15px;
    left: 55px;
    z-index: 2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
}
.title h1{
    font-weight: 600;
    color: #455A64;
    padding: 20px 45px 0 60px;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 8px 0 -5px 0;
    background-color: #eef1f5;
    position: relative;
    top:-8px;
    text-shadow: 2px 2px rgba(100, 100, 100, 0.1);
}
.title h1::before{
    display: block;
    content: " ";
    width: 40px;
    height: 60px;
    background-color: #ec8e72;
    position: absolute;
    left: -18px;
    -moz-transform: skewX(30deg);
    -o-transform: skewX(30deg);
    transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    -webkit-transform: skewX(30deg);
    z-index: 1;
    top: 0px;
}
.title h1::after {
        display: block;
        content: " ";
        width: 40px;
        height: 60px;
        background-color: #37474F;
        position: absolute;
        right: -18px;
        -moz-transform: skewX(30deg);
        -o-transform: skewX(30deg);
        transform: skewX(30deg);
        -ms-transform: skewX(30deg);
        -webkit-transform: skewX(30deg);
        z-index: 1;
        top: 0px;
    
}
.empty::before{
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #ec8e72;
    content: " ";
    bottom: 2px;
    left: 58px;
    z-index: -1;
}
.empty::after{
    height: 5px;
    width: 100%;
    background-color: #eef1f5;
    position: absolute;
    content: " ";
    top: 63px;
}

.content{
    background-color: #eef1f5;
    display: inline-block;
    padding: 30px 20px 0 20px;
    width: 100%;

}
.clr{
    background-color: #37474F;
}
.email{
    font-size: 18px;
    color: #B0BEC5;
    position:relative;
    z-index:2;
    text-align:center;
    left: 27px;
    top: -20px;
    margin-right: 30px;
    cursor: pointer;

}
.cursor{
    cursor: pointer;
}
.top{
    top: 16px;
}
.dot{
    width: 10px;
    height: 10px;
    position: relative;
    background: #46be8a;
    border-radius: 50%;
    top: -31px;
    right: -24px;
    border:2px solid #37474f;
}
.logging_email{
    
    width: 360px;
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    line-height: 23px;
    font-size: 14px;
    padding-bottom: 0px;
    border: 0px solid transparent;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    margin-top: -1px;
    padding-top: 0px;
    position: absolute;
    top: 100%;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
}
.logging_email.list{
    overflow: hidden;
    max-height: 300px;
    height: 300px;
    position: relative;
    z-index: 2;
}
.list ul{
    padding-left: 0;
    list-style: none;
    padding: 0 20px !important;
}
.external{
    display: block !important;
    color: #999999;
    font-size: 13px;
    background: #eef1f5 !important;
}
.head_list{ 
    font-size: 14px;
}
.external a{
    display: block;
    padding: 15px 30px;
    color: #999999;
    font-size: 13px;
}
.logging_email::before{
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: rgba(80, 80, 80, .1);
    border-width: 10px;
    margin-left: -10px;
}
.log_email  {
    list-style: none;
    padding: 0 15px !important;
}
.log_email  li{
    padding: 10px 0 !important;
}
.log_email li li {
    width: 100%;
    display: block;
    position: relative;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #E0E0E0;
}
.log_email li a{
    text-decoration: none;
    color: #757575;
}
.name{
    display: block;
    position: relative;
    color: #757575;
}
.name h4, .eml h4 {
    margin-bottom: 5px;
    font-weight: 400;
    color: #505458;
    font-size: 18px;
    font-family: 'Source Sans Pro',sans-serif;
}
.name span{
    color: #cccccc;
}
.time {
    display: block;
    position: relative;
    color: #aaaaaa;
}
.notice-icon i {
    background-color: rgba(102, 189, 120, 1);
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    float: left;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    color: #ffffff;
    margin-top: 5px !important;
    font-size: 14px !important;
}
.notTop{
    height: 40px;
    width: 40px;
    background: #f05050;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
}
.logging_email ul {
    padding: 0;
}
.logging_email ul li{
    display: block;
 
}
.head_list{
    padding: 17px !important;
}
.log_img_top{
    width: 40px;
    border-radius: 50%;
}
.logging_email li {
    background: #fff;
    border-bottom: 1px solid #eeeeee;
    padding: 6px ;
}
.logging_email li h4{
    font-size: 18px;
    color: #505458;
    font-family: 'Source Sans Pro';
}
.logging_email li p{
    color: #9e9e9e;
    font-size: 12px;
}
.logging_email li h5{
    font-size: 14px;
    color: #9e9e9e;
}
.logging{
    margin: 0;
    padding: 0; list-style: none;
    background: #fff;
    position: absolute;
    top: 65px;
    right: 90px;
    border: 1px solid #eeeeee;
}
.logging li{
    display: block !important;
    border-bottom: 1px solid #eeeeee;
    padding: 6px 80px 6px 20px;
}
.logging li a i{
    margin-right: 5px;
    font-size: 14px;
}
/* ============================================ SIDE BAR ============================================================*/
.side_bar{
    height: 100%;
    width: 200px;
    position: fixed;
    padding: 0px;
    background-color: #37474F;
    margin-top: 60px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: .0s;
    -moz-transition: .0s;
    transition: .0s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    -moz-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    transition-timing-function: cubic-bezier(.4, 0, .5, 1);
}
.page-wrapper{
    margin-top: 60px;
    display: inline-block;
    width: 100%;
    padding: 0px 0px 0 0px;
}
.menu{
    padding-top: 0px;
    overflow: hidden;
    position: relative;
}
.main-content{
    margin-left: 200px;
    display: block;
}
.profile_info{
    background: transparent;
    padding-top: 30px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.img {
    display: inline-block;
    height: 60px;
    position: relative;
    text-align:center
}
.img img{
    height: 60px;
    width: 60px;
    margin-top: 0px;
    background-color: #eef1f5;
    -webkit-border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    border-radius: 50% 50%;
    margin-left:92%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.2);
}
.profile_info h3 {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #B0BEC5;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    white-space: nowrap;
    margin: 0px 0 0px 0;
    text-align: center;
    position: relative;
    height: 30px;
}
.profile_info p{
    color: #B0BEC5;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 20px;
}
.menu_list{
    margin:0;
    padding: 0;
}
.menu_list li{
    padding: 0px;
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
    font-family: 'Roboto Condensed Light', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.menu_list li a{
    display: block;
    line-height: auto;
    min-height: 45px;
    height: auto;
    color: #eef1f5;
    color: #B0BEC5;
    text-decoration: none;
    padding: 10px 0;
    clear: both;
    text-align: center;
    position: relative;
    cursor:pointer;
}
.menu_list li a .sub-title{
    display: block;
    line-height: 25px;
}
.sub-menu{
    padding: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    -moz-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    transition-timing-function: cubic-bezier(.4, 0, .5, 1);
}
.icons{
    margin-top: -40px;
    margin-right: 20px;
}
.menu_list li a:hover{
    background-color: #263238;
    color: #eef1f5;
    position: relative;
}
.menu_list li.active a i {
    float: left;
    display: inline-block;
    font-size: 18px;
    width: auto;
    margin-left: 45px;
}
.sub-menu li a{
    padding-left: 70px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    -moz-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    background-color: transparent;
    color: #9E9E9E !important;
    line-height: 24px;
    min-height: 30px;
    text-align: left;
}
 .menu_list li.active a{
    background-color: #263238;
    color: #eef1f5;
 
}
.menu_list li.active a .sub-title{
    padding-right: 45px;
    margin-top: -4px;
 
}
.menu_list li.active a .icons{
    margin-top: -20px;
 
}
.menu_list li.active .sub-menu li {
    background-color: #263238;
    color: #eef1f5;
    position: relative;
}
.menu_list li.active .sub-menu li a:hover{ 
    background-color: #161e22;
    border-left: 3px solid transparent;
}  
 .small_side_bar{
    padding-top: 0px;
    background-color: #37474F;
    overflow: visible !important;
    position: fixed !important;
    width: 60px !important;
    margin-left: 0px !important;
    z-index: 99;
    -webkit-transition: .0s;
    -moz-transition: .0s;
    transition: .0s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    -moz-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    height: 100%;
    width: 200px;
    position: fixed;
    padding: 0px;
    background-color: #37474F;
    margin-top: 60px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
}

.small_side_bar .profile_info{
    width: 60px;
    margin: 0 auto;
    padding: 15px 0px 0px 0px;
}

.small_side_bar .menu, .small_side_bar .menu_list li.active {
    overflow:visible !important;
}
.small_side_bar .ps{
    overflow: visible !important;
}

 .sub-content{
    margin-left: 60px;
    margin-right: 0px;
}
.small_side_bar .profile_info .img{
    width: 100%;
    padding: 0;
}
.small_side_bar .profile_info .img img{
    height: 43px;
    width: 43px;
    margin-left: -24%;
}
.small_side_bar .profile_info .nothing{
    display: none;
}
.small_side_bar .menu_list li{
    position: relative !important;  
}
.small_side_bar .menu_list li a{
    padding-left: 0px;
}
.small_side_bar .menu_list li:hover a, 
.small_side_bar .menu_list li:hover .active a{
    width: 280px;
}

.small_side_bar .menu_list li:hover .sub-menu li a, 
.small_side_bar .menu_list li:hover .active .sub-menu li a{
    width: 220px !important;
    padding-left: 75px;
}
.small_side_bar .menu_list li a:hover, 
.small_side_bar .menu_list li.active a{
    background-color: #263238;
    color: #eef1f5;
    position: relative;
}
.small_side_bar .menu_list li .icons,
 .small_side_bar .menu_list li .sub-title,
 .small_side_bar .menu_list li .sub-menu{
display: none;
}
.small_side_bar .menu_list li:hover .icons,
 .small_side_bar .menu_list li:hover .active .icons {
    display: inline-block;
    margin-left: 0px;
    text-align: left;
    padding-left: 30px;
    background-color: transparent;
    line-height: 25px;
    margin-top: -2px;
    margin-right: 30px;
    font-size: 17px;
}

.small_side_bar .menu_list li a i{
    float: left;
    font-size: 17px;
    height: auto;
    line-height: 17px;
    width: 60px;
    top: 0px;
    margin-left: 0px;
}

.small_side_bar .menu_list li.active .sub-menu{
    position: absolute;
    left: 60px;
    top: 43px;
    width: 220px !important;
    background: #37474F;
}
 .small_side_bar .menu_list li:hover .sub-title, 
 .small_side_bar .menu_list li:hover .sub-title
{
    display: inline-block;
    padding: 0;
    animation-name: fadeInLeft;
  animation-delay: 0s;
}   

.small_side_bar .menu_list li:hover ul{
 display: block;
}

.small_side_bar .profile_status{
    left: 28px;
}
.height5{
    height: 5px;
    border-radius: 0px;
}
.group{
    padding: 5px 30px;
    padding-bottom: 20px;
}
.group .tsp{
    font-size: 14px;
    color: #B0BEC5;
}
.top-toggle{
    margin-right: 30px;
    padding: 0;
    list-style: none;
}
.top-toggle-active{
    margin-right: 277px;
}
.top-toggle1{
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-toggle li, .top-toggle1 li {
 display: inline-block;
 /* width: 50px; */
}
.active{
    background-color: #161e22 !important;
 }

/* ---------------------------------------------------------*/
               /* MEDIA QUERY */
/* ---------------------------------------------------------- */
@media (max-width: 767px) { 
    .logging_email{
        right: 30px;
    }
    .freelance .top-bar {
        background-color: #54bc97;
    }
    .university .top-bar{
        background-color: #eb5155;
    }
    .img-circle-top{
        margin-top: 20px;
    }
    .main-content{
        margin-left: 60px;
    }
    .top-bar{
        background-color: #ec8e72;
    }
    .logo-bar{
        width:100%;
    }
    .toggle {
        display: block; 
    }
    .email{
        margin-right: 34px;
    }
    .dot{
        border: 2px solid #ec8e72;
    }
    .tick{
        margin-toP: -65px;
        float: right;
    }
   .small h1{
        background: #ffff;
        padding: 10px 45px 10px 83px;
        margin: 61px 0 -5px 0 !important;
        font-weight: 500;
        font-size: 25px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
    }
 .big h1 {
    margin: -6px 0 -5px 0 !important;
    background: #ffff;
    padding: 10px 45px 10px 83px;
    font-weight: 500;
    font-size: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 3px 2px 2px rgba(0, 0, 0, 0.1);
 }
    .title h1::before, .title h1::after,  .empty::after, .empty::before, .line, .line::before, .line::after, .cursor{
        display: none;
    }
    .small_side_bar, .side_bar{
        z-index: 1999;
        position: fixed !important;
    }
  .content{
    margin-top: 65px;
  }
  perfect-scrollbar, .ps{
      overflow: visible !important;
  }
  .top-toggle{
    margin-top: -125px;
    margin-right: 60px;
  }
  .top-toggle1{
    float: right;
    margin-top: -80px;
    margin-right: 150px;
  }
  .top-toggle li i,  .top-toggle1 li i{
      color:#fff
  }
  .blocking{
      display: block;
  }
  .badge-primary, .badge-accent{
    width: 13px;
    height: 13px;
    font-size: 7px;
    top: 0px
  }
 }


@media (max-width: 500px) {
    .top-toggle1{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .cursor{
        display: none;
    }
}
@media (min-width: 992px) and (max-width: 1270px) {
.cursor{
    display: none;
}

}
@media (min-width: 768px) and (max-width: 1000px) {
    .top-toggle-active{
        margin-top: -5px;
    }
    .chat-slant::before{
        top: 61px;
    }
    .logging_email{
        right: 30px;
    }
}
/* ================================================================================================*/
/* FREE LANCING */
/* ============================ */
.freelance .logo-bar, .freelance .tick,  .freelance .title h1::before,.freelance .line,.freelance .badge-accent,
.freelance .logo-bar-shift, .freelance .chat-slant::before, .freelance .chat-slant,.freelance .chat-slant a i{
    background-color: #54bc97;
}
.freelance .title h1, .freelance .empty::after, .freelance .content{
    background-color: #eff7e8;
}
.freelance .badge-primary{
    background-color: #54bc97;

}
.freelance .badge-accent{
    background-color: #00797c;
}

.freelance .btn-accent{
    background: #00797c !important;
}
.freelance .search {
    color: #00797c !important;
}
.freelance .top_input.form-control:focus, .freelance.top_input.form-control {
    border-color: #00797c !important;

}
/* ================================================================================================*/
/* UNIVERSITY */
/* ============================ */

.university .logo-bar, .university .tick,  .university .title h1::before,.university .line,.university .badge-primary,
.university .logo-bar-shift, .university .chat-slant::before, .university .chat-slant,.university .chat-slant a i{
    background-color: #eb5155;
}
.university .badge-accent{
    background-color: #33495d;
}

.university .search, .university .top_input .form-control:focus, .university .top_input .form-control{
    color: #607d8b;
}
/* ======================================================================================================== */
/* SOCIAL MEDIA */
.socialmedia .logo-bar, .socialmedia .tick,  .socialmedia .title h1::before,.socialmedia .line,.socialmedia .badge-primary,
.socialmedia .logo-bar-shift, .socialmedia .chat-slant::before, .socialmedia .chat-slant,.socialmedia .chat-slant a i{
    background-color: #7a6a93;
}
/* ======================================================================================================== */
/* HOSPITAL */
.hospital .logo-bar, .hospital .tick,  .hospital .title h1::before,.hospital .line,.hospital .badge-primary,
.hospital .logo-bar-shift, .hospital .chat-slant::before, .hospital .chat-slant,.hospital .chat-slant a i{
    background-color: #59c2e6;
}
.hospital .badge-accent{
    background-color: #59c2e6;
}

.hospital .search, .hospital .top_input .form-control:focus, .hospital .top_input .form-control{
    color: #59c2e6;
}