<div class="container-fluid padd"
    [ngClass]="{'freelance': sidebarValue == 'freelancing' , 'university': sidebarValue == 'university', 'socialmedia': sidebarValue == 'socialmedia', 'hospital': sidebarValue == 'hospital' }">
    <!-- ========================== TOP BAR ================================================= -->
    <div class="top-bar">
        <div [ngClass]="sidebarClass()">
        </div>
        <div class=" toggle block">
            <div class="tick    ">
                <i class="material-icons icon" (click)="sideNav()">menu</i>
            </div>
        </div>
        <div class=" title toggle block" [ngClass]="{'small': sidebar == true, 'big':  sidebar == false}">
            <span class="line"></span>
            <h1>{{pageTitle}}</h1>
            <!-- <div class="empty"></div> -->
        </div>

        <div class="block blocking">
            <ul class="top-toggle1">
                <li><a> <i class="material-icons email" tabindex="0" (click)="emailShw()"
                            (blur)="emailDropDownclose()">email</i>
                        <span class="badge badge-primary">7</span></a>
                    <div *ngIf="emailShow">
                        <ul class="logging_email fadeIn animated">
                            <li class="list">
                                <perfect-scrollbar style="max-width: 600px; max-height: 300px;"
                                    id="myDiv1">
                                    <ul>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 col-2"> <img
                                                        src="../assets/img/profile-crm.jpg"
                                                        class="img-rounded log_img_top">
                                                </div>
                                                <div class="col-md-10 col-sm-12 col-10 eml">
                                                    <h4>Carri Busey</h4>
                                                    <p>1 hour ago</p>
                                                    <h5>Sometimes its good to be different</h5>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 col-2"> <img
                                                        src="../assets/img/profile-crm.jpg"
                                                        class="img-rounded log_img_top">
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-10 eml">
                                                    <h4>Carri Busey</h4>
                                                    <p>1 hour ago</p>
                                                    <h5>Sometimes its good to be different</h5>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 col-2 "> <img
                                                        src="../assets/img/profile-crm.jpg"
                                                        class="img-rounded log_img_top">
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-10 eml">
                                                    <h4>Carri Busey</h4>
                                                    <p>1 hour ago</p>
                                                    <h5>Sometimes its good to be different</h5>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 col-2"> <img
                                                        src="../assets/img/profile-crm.jpg"
                                                        class="img-rounded log_img_top">
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-10 eml">
                                                    <h4>Carri Busey</h4>
                                                    <p>1 hour ago</p>
                                                    <h5>Sometimes its good to be different</h5>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 col-2"> <img
                                                        src="../assets/img/profile-crm.jpg"
                                                        class="img-rounded log_img_top">
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-10 00eml">
                                                    <h4>Carri Busey</h4>
                                                    <p>1 hour ago</p>
                                                    <h5>Sometimes its good to be different</h5>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </perfect-scrollbar>
                            </li>
                            <li class="external">
                                <a>
                                    <span>Read All Messages</span>
                                </a>
                            </li>
                        </ul>
                        <!--  -->
                    </div>
                </li>
                <li> <i class="material-icons email" (click)="notification()" tabindex="0"
                        (focusout)="notificationDropdownclose()">notifications</i>
                    <span class="badge badge-accent">3</span>
                    <div class="logging_email fadeIn animated" *ngIf="notiShow">
                        <ul>
                            <li class="head_list"><a>You have <b>3</b> new notifications.<span class="float-right">Mark
                                        as all read</span></a>
                            </li>
                            <li>
                                <perfect-scrollbar style="max-width: 600px; max-height: 300px;"
                                    id="myDiv1">
                                    <ul class="log_email">
                                        <li>
                                            <a href>
                                                <div class="notice-icon">
                                                    <i class="material-icons">build</i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <h4>Server needs to reboot</h4>
                                                        <span><small>15 mins ago</small></span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href>
                                                <div class="notice-icon">
                                                    <i class="material-icons">build</i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <h4>Server needs to reboot</h4>
                                                        <span><small>15 mins ago</small></span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href>
                                                <div class="notice-icon">
                                                    <i class="material-icons">build</i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <h4>Server needs to reboot</h4>
                                                        <span><small>15 mins ago</small></span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href>
                                                <div class="notice-icon">
                                                    <i class="material-icons">build</i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <h4>Server needs to reboot</h4>
                                                        <span><small>15 mins ago</small></span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href>
                                                <div class="notice-icon">
                                                    <i class="material-icons">build</i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <h4>Server needs to reboot</h4>
                                                        <span><small>15 mins ago</small></span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </perfect-scrollbar>

                            </li>
                            <li class="external"><a>Read All Notification</a></li>
                        </ul>
                    </div>
                </li>
                <li> <i class="material-icons email">person</i>
                </li>
                <li> <i class="material-icons email cursor " (click)="email = !email"
                        [ngClass]="{'search': email}">search</i>
                    <div class="top_input" *ngIf="email">
                        <input type="text" class="form-control ">
                    </div>
                </li>
            </ul>
        </div>
        <div class="float-right">
            <ul class="top-toggle" [ngClass]="{'top-toggle-active': chatShow}">
                <li> <img src="../assets/img/profile-crm.jpg" class="img-circle-top img-responsive"
                        (click)="log = !log">
                    <div class="dot"></div>
                    <ul class="logging fadeIn animated" *ngIf="log">
                        <li><a><i class="material-icons">settings</i>Setting</a></li>
                        <li><a><i class="material-icons">people</i>Profile</a></li>
                        <li><a><i class="material-icons">help</i>Help</a></li>
                        <li><a><i class="material-icons">lock</i>Logout</a></li>
                    </ul>
                </li>
                <li [ngClass]="{'chat-slant': chatShow}">
                    <a><i class="material-icons email top" (click)="showChat()">chat_bubble</i></a>

                </li>
            </ul>
        </div>
    </div>
    <!-- ===============================================   TOP BAR ENDS HERE =================================================================== -->
</div>
<div class="main" [ngClass]="{'freelance': sidebarValue == 'freelancing' , 'university': sidebarValue == 'university', 'socialmedia': sidebarValue == 'socialmedia',  'hospital': sidebarValue == 'hospital'}">
    <div class="side_bar" [ngClass]="{'bid_side_sidebar': sidebar == true, 'small_side_bar': sidebar == false}">
        <perfect-scrollbar style="max-width: 600px; max-height: 900px;" id="myDiv">
            <div class="menu">
                <div class="profile_info">
                    <div class="col-12">
                        <div class="img text-center">
                            <img src="../assets/img/profile-crm.jpg" class="img-circle img-responsive">
                            <span class="profile_status"></span>
                        </div>
                    </div>
                    <div class="col-12 nothing">
                        <h3 class="text-center">John Douglas</h3>
                        <p class="text-center">Administrator</p>
                    </div>
                </div>
                <app-sidebar [value]="sidebarValue"></app-sidebar>
                
            </div>
        </perfect-scrollbar>
    </div>
    <div [ngClass]="{'main-content': sidebar == true, 'sub-content': sidebar == false}">
        <div class="page-wrapper">
            <div class="content">
                <router-outlet></router-outlet>
                <div class="chats" *ngIf="chatShow">
                    <app-chat [showIn]="value()" (showing)="display($event)"></app-chat>
                </div>
            </div>
        </div>
    </div>
</div>