<div class="container-fluid">
    <div class="row mtb-20">
        <div class="col-md-3 col-sm-3 col-lg-3 col-3 pr0">
            <button class="btn btn-block compose text-center" (click)="compose = !compose">Compose</button>
        </div>
        <div class="col-md-9 col-sm-9 col-lg-9 col-9 pl0">
            <button class="btn setting float-right"><span class="material-icons">settings</span></button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-12 col-lg-3 col-sm-12 pr0">
            <ul class="mails">
                <li>
                    <a > <span class=" material-icons ">inbox</span>Inbox</a>
                </li>
                <li>
                    <a> <span class=" material-icons ">send</span>Sent</a>
                </li>
                <li>
                    <a> <span class=" material-icons ">star_border</span>Important</a>
                </li>
                <li>
                    <a><span class=" material-icons ">drafts</span>Draft</a>
                </li>
                <li>
                    <a><span class=" material-icons ">delete</span>Trash</a>
                </li>
            </ul>
            <div class="shadow">
                <label>Lables</label>
                <ul class=" mail">
                    <li>
                        <a><span class="material-icons text-danger">
                                radio_button_unchecked
                            </span>Urgent</a>
                    </li>
                    <li>
                        <a><span class="material-icons text-info">
                                radio_button_unchecked
                            </span>Market</a>
                    </li>
                    <li>
                        <a><span class="material-icons text-warning">
                                radio_button_unchecked
                            </span>Family</a>
                    </li>
                    <li>
                        <a><span class="material-icons text-success">
                                radio_button_unchecked
                            </span>Work</a>
                    </li>
                </ul>
                <div class="inputs">
                    <input type="text" class="form-control full" placeholder="New label"><button
                        class="btn btn-add">Add</button>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-lg-9 col-12 col-sm-12 pl0">
            <div class="mail_content">
                <div class="row mtb-20" *ngIf="compose">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">TO: <small>e.g. "someemail@example.com"</small></label>
                            <label   class="float-right"><span class="badge badge-secondary" (click)="cc = !cc"> cc </span>  <span class="badge badge-secondary" (click)="bcc = !bcc"> Bcc </span></label>
                            <input type="text" class="form-control full">
                        </div>
                        <div class="form-group" *ngIf="cc && compose">
                            <label class="form-label">CC: <small>e.g. "someemail@example.com"</small></label>
                            <input type="text" class="form-control full">
                        </div>
                        <div class="form-group" *ngIf="bcc && compose">
                            <label class="form-label">BCC: <small>e.g. "someemail@example.com"</small></label>
                            <input type="text" class="form-control full">
                        </div>
                        <div class="form-group">
                            <label class="form-label">SUBJECT: <small>e.g. "Meeting in 1st week"</small></label>
                            <input type="text" class="form-control full">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Message </label>
                                <div class="sample mtb-20">
                                    <div id="sample2" [froalaEditor]="imgOptions" [(froalaModel)]="content"></div>

                                    <!-- <div [froalaView]="content"></div> -->
                                </div>
                                <!-- <textarea class="form-control full" rows="12"></textarea> -->
                        </div>
                        <div class="float-left">
                            <button class="btn btn-submit"><i class="fa fa-send"></i> Send</button>
                            <button class="btn btn-default"><i class="fa fa-trash"></i> Trash</button>
                        </div>
                    </div>
                </div>
                <div class="row mtb-20" *ngIf="!compose">
                    <div class="col-md-6 col-sm-6 col-6"></div>
                    <div class="col-md-6 col-sm-6 col-6 ">
                        <div class="text-right">
                            <button class="btn navigate"><span class="material-icons">chevron_left</span></button>
                            <button class="btn navigate"><span class="material-icons">chevron_right</span></button>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="!compose">
                    <div class="col-md-12 col-12 col-lg-12 col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-hover mail_table">
                                <tr>
                                    <td style="width:47px"><img src="../../../../../assets/img/avatar-1.png"></td>
                                    <td>
                                        <p>Kate</p>
                                        <p class="unread"><b>It seems amazingly smart</b></p>
                                    </td>
                                    <td style="width:90px"><span class="label-primary">mark</span></td>
                                    <td style="width:250px">10 months ago</td>
                                    <td style="width:65px"><span class=" material-icons ico">star_border</span></td>
                                </tr>
                                <tr>
                                    <td style="width:47px"><img src="../../../../../assets/img/avatar-2.png"></td>
                                    <td>
                                        <p>Kate</p>
                                        <p class="unread"><b>It seems amazingly smart</b></p>
                                    </td>
                                    <td style="width:90px"><span class="label-primary">mark</span></td>
                                    <td style="width:250px">10 months ago</td>
                                    <td style="width:65px"><span class=" material-icons ico">star_border</span></td>
                                </tr>
                                <tr>
                                    <td style="width:47px"><img src="../../../../../assets/img/avatar-1.png"></td>
                                    <td>
                                        <p>Kate</p>
                                        <p class="unread"><b>It seems amazingly smart</b></p>
                                    </td>
                                    <td style="width:90px"><span class="label-primary">mark</span></td>
                                    <td style="width:250px">10 months ago</td>
                                    <td style="width:65px"><span class=" material-icons ico">star_border</span></td>
                                </tr>
                                <tr>
                                    <td style="width:47px"><img src="../../../../../assets/img/avatar-2.png"></td>
                                    <td>
                                        <p>Kate</p>
                                        <p class="unread"><b>It seems amazingly smart</b></p>
                                    </td>
                                    <td style="width:90px"><span class="label-primary">mark</span></td>
                                    <td style="width:250px">10 months ago</td>
                                    <td style="width:65px"><span class=" material-icons ico">star_border</span></td>
                                </tr>
                                <tr>
                                    <td style="width:47px"><img src="../../../../../assets/img/avatar-1.png"></td>
                                    <td>
                                        <p>Kate</p>
                                        <p class="unread"><b>It seems amazingly smart</b></p>
                                    </td>
                                    <td style="width:90px"><span class="label-primary">mark</span></td>
                                    <td style="width:250px">10 months ago</td>
                                    <td style="width:65px"><span class=" material-icons ico">star_border</span></td>
                                </tr>
                                <tr>
                                    <td style="width:47px"><img src="../../../../../assets/img/avatar-2.png"></td>
                                    <td>
                                        <p>Kate</p>
                                        <p class="unread"><b>It seems amazingly smart</b></p>
                                    </td>
                                    <td style="width:90px"><span class="label-primary">mark</span></td>
                                    <td style="width:250px">10 months ago</td>
                                    <td style="width:65px"><span class=" material-icons ico">star_border</span></td>
                                </tr>
                                <tr>
                                    <td style="width:47px"><img src="../../../../../assets/img/avatar-1.png"></td>
                                    <td>
                                        <p>Kate</p>
                                        <p class="unread"><b>It seems amazingly smart</b></p>
                                    </td>
                                    <td style="width:90px"><span class="label-primary">mark</span></td>
                                    <td style="width:250px">10 months ago</td>
                                    <td style="width:65px"><span class=" material-icons ico">star_border</span></td>
                                </tr>
                                <tr>
                                    <td style="width:47px"><img src="../../../../../assets/img/avatar-2.png"></td>
                                    <td>
                                        <p>Kate</p>
                                        <p class="unread"><b>It seems amazingly smart</b></p>
                                    </td>
                                    <td style="width:90px"><span class="label-primary">mark</span></td>
                                    <td style="width:250px">10 months ago</td>
                                    <td style="width:65px"><span class=" material-icons ico">star_border</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>