.mail_content{
    padding:5px 40px;
    min-height:590px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
}
.mails{
    background:#568c98;
}
.shadow{
    background: #eeee;
}
.badge-secondary{
    font-size:15px;
    margin-left:5px;
    font-weight:none;
    border-radius: none;
}
.mail, .mails{
    list-style: none;
    border-radius: 3px;
    margin:0;
    padding: 0;
}
.mails li a{
    display: block;
    color: #ffffff !important;
    padding: 11px 15px;
    text-decoration: none;
    background-color: transparent;
    margin-bottom: 0px;
    cursor: pointer;
}
.mail li a{
    display: block;
    padding: 11px 15px;
    text-decoration: none;
    background-color: transparent;
    margin-bottom: 0px;  
}
.mails li a span, .mail li a span{
    font-size: 17px;
    vertical-align: middle;
    padding-right: 10px;
};
.mail li{
    background: #eeee;
}
.shadow label{
padding-top: 17px;
padding-left: 15px;
color: #999999;
margin-bottom: 5px;
/* background-color: #eeeeee; */
}
/* .mail{
    background: #eeeeee !important;
} */
.mail li a{
    color: #787878 ;
    cursor: pointer;
    padding: 13px 30px;
}
.mails li a:hover, .mail li a:hover{
   background-color: #ec8e72;
   color: #fff;
}
.inputs{
    padding: 10px 8px 20px;
    background:transparent;
}
.btn-add{
    background: transparent;
    color: #787878;
    font-size:14px;
    float:right;
    margin-top:-40px;
    cursor: pointer;
}
.mtb-20{
    margin-top: 30px ;
    margin-bottom: 30px ;

}
.compose{
    background:#568c98;
    color:#fff;
    font-weight: 500;
    font-size:18px;
    vertical-align: middle;
}
.setting{
    background-color: #ec8e72;
   color: #fff;
   padding: 11px 17px 5px;
    vertical-align: middle;
}
.setting span{
    font-weight: 500;
    font-size:18px;
}
.label-primary {
    background-color: #568c98;
    color:white;  
    padding: 1px 20px;
    font-size: 12px;  
}
.mail_table tr td{
    vertical-align: middle;
}
.mail_table tr td img{
    border-radius: 50%;;
    width: 45px;
    height: 45px;
}
.mail_table tr td p{
 margin-bottom: 0px
}
.mail_table tr td .ico{
  font-size:18px;
  color: #757575;
   }
   .unread{
   color: #757575;
   }
   .pl0{
       padding-left: 0px;
   }
   .pr0{
       padding-right: 0px;
   }
   .navigate{
       border: 1px solid #e7e3e3;
       margin-left: 2px;
       border-radius: 14px;
       border-radius: 14px;
       padding: 7px 14px 6px;
   }
   .navigate span{
    color: #e7e3e3;
    font-size:25px;
   }
   /* ==================================================================== */
   .freelance .mails li a:hover, .freelance .mail li a:hover,  .freelance .setting{
       background: #00797c;
       color:#fff;
   }
   .freelance .mails, .freelance .compose{
       background:#54bc97
   }
   .university .mails li a:hover, .university .mail li a:hover,  .university .setting{
    background: #33495d;
    color:#fff;
}
.university .mails, .university .compose{
    background:#eb5155
}
.socialmedia .mails, .socialmedia .compose{
    background:#5bc9c5;
}
.socialmedia .mails li a:hover, .socialmedia .mail li a:hover,  .socialmedia .setting{
    background: #7a6a93;
    color:#fff;
}
.hospital .mails li a:hover, .hospital .mail li a:hover,  .hospital .setting{
    background: #4f5f6f;
    color:#fff;
}
.hospital .mails, .hospital .compose{
    background:#59c2e6;
}