<div class='content-wrapper'>
    <div class="col-lg-12">
        <section class="data ">
            <header class="panel_content">
                <h2 class="content_title float-left">ALL STUDENTS</h2>
                <div class="float-right action">
                    <i class="material-icons" (click)="ShowList=!ShowList">{{ShowList?'expand_more':'expand_less'}}</i>
                    <i class=" material-icons">mode_edit</i>
                    <i class=" material-icons">close</i>
                </div>
            </header>
            <div class="content_body p-b-15">
                <div class="row" *ngIf="ShowList">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-3 col-sm-12 col-md-6"  *ngFor="let student of students">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-fluid" src={{student.profile_image}}
                                            alt="Professor 1">
                                    </div>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
                                        <h3 class='margin-top-15 margin-bottom-10 text-primary'><a>{{student.name}}</a>
                                        </h3>
                                        <span class='team-member-edit'><a><i
                                                    class='material-icons icon-sm'>edit</i></a></span>
                                        <span>{{student.position}}, {{student.department}}</span>
                                        <div class="clearfix"></div>
                                        <p class="margin-top-15">{{student.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top-30 padding-bottom-30">
                                <div class=" text-center">
                                    <ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true">
                                    </ngb-pagination>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>