<div class="container-fluid m-t-10">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12 col-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        UNIVERSITY ADMISSIONS
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showAdmission = !showAdmission">{{showAdmission ? 'expand_more': 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="outer content_body p-b-15">
                    <div style="display: block;" *ngIf="showAdmission">
                        <canvas baseChart width="600" height="300" [datasets]="lineChartData1"
                            [labels]="lineChartLabels1" [options]="lineChartOptions1" [colors]="lineChartColors1"
                            [legend]="lineChartLegend1" [chartType]="lineChartType1" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        EXAM TOPPERS
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showToppers = !showToppers">{{showToppers ? 'expand_more': 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="outer content_body p-b-15">
                    <div class="table-responsive" *ngIf="showToppers">
                        <table class="table table-striped content_table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                    </th>
                                    <th>Charts</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>L. Otto</td>
                                    <td>
                                        <div class="height5">
                                            <div class="sparkbar" style="width:40%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Cart Thornton</td>
                                    <td>
                                        <div class="height5">
                                            <div class="sparkbar" style="width:40%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nik Bird</td>
                                    <td>
                                        <div class="height5">
                                            <div class="sparkbar" style="width:40%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Kate W.</td>
                                    <td>
                                        <div class="height5">
                                            <div class="sparkbar" style="width:40%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Jack Bird</td>
                                    <td>
                                        <div class="height5">
                                            <div class="sparkbar" style="width:40%"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="container-fluid m-t-10">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12 col-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        STUDENT PASSING
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showPassing = !showPassing">{{showPassing ? 'expand_more': 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="outer content_body p-b-15">
                    <div style="display: block" *ngIf="showPassing">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        STUDENT PROGRESS
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showProgress = !showProgress">{{showProgress ? 'expand_more': 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="outer content_body p-b-15">
                    <div class="table-responsive" *ngIf="showProgress">
                        <table class="table table-striped content_table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                    </th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>L. Otto</td>
                                    <td>
                                        <div class="height5">
                                            <div class="sparkline " style="width:40%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Cart Thornton</td>
                                    <td>
                                        <div class="height5">
                                            <div class="sparkline" style="width:40%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nik Bird</td>
                                    <td>
                                        <div class="height5">
                                            <div class="sparkline" style="width:40%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Kate W.</td>
                                    <td>
                                        <div class="height5">
                                            <div class="sparkline" style="width:40%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Jack Bird</td>
                                    <td>
                                        <div class="height5">
                                            <div class="sparkline" style="width:40%"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="container-fluid m-t-10">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12 col-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        STUDENT TEST SCORE BY SUBJECTS
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showSubject = !showSubject">{{showSubject ? 'expand_more': 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="outer content_body p-b-15">
                    <div style="display: block;" *ngIf="showSubject">
                        <canvas baseChart width="600" height="300" [datasets]="lineChartData2" [labels]="lineChartLabels2"
                            [options]="lineChartOptions2" [colors]="lineChartColors2" [legend]="lineChartLegend2"
                            [chartType]="lineChartType2" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        ATTENDANCE
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showAttendance = !showAttendance">{{showAttendance ? 'expand_more': 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="outer content_body p-b-15">
                    <div class="table-responsive" *ngIf="showPercent">
                        <table class="table table-striped content_table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                    </th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>L. Otto</td>
                                    <td>
                                        <div class="project_post" data-percent="66"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Cart Thornton</td>
                                    <td>
                                        <div class="project_post" data-percent="53"></div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nik Bird</td>
                                    <td>
                                        <div class="project_post" data-percent="64"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Kate W.</td>
                                    <td>
                                        <div class="project_post" data-percent="86"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Jack Bird</td>
                                    <td>
                                        <div class="project_post" data-percent="74"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="container-fluid m-t-10">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12 col-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        PROFESSOR DAILY ACTIVITY
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showActivity = !showActivity">{{showActivity ? 'expand_more': 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="outer content_body p-b-15">
                    <div style="display: block" *ngIf="showActivity">
                        <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions"
                            [colors]="radarcolor" [labels]="radarChartLabels" [chartType]="radarChartType">
                        </canvas>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        STUDENT PERCENT
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showPercent = !showPercent">{{showPercent ? 'expand_more': 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="outer content_body p-b-15">
                    <div class="table-responsive" *ngIf="showPercent">
                        <table class="table table-striped content_table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                    </th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>L. Otto</td>
                                    <td>
                                        <div class="progress height5">
                                            <div class="progress-bar bg-success" style="width:20%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Cart Thornton</td>
                                    <td>
                                        <div class="progress height5">
                                            <div class="progress-bar bg-info" style="width:40%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nik Bird</td>
                                    <td>
                                        <div class="progress height5">
                                            <div class="progress-bar bg-danger" style="width:40%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Kate W.</td>
                                    <td>
                                        <div class="progress height5">
                                            <div class="progress-bar bg-warning" style="width:40%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Jack Bird</td>
                                    <td>
                                        <div class="progress height5">
                                            <div class="progress-bar bg-warning" style="width:40%"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>