<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        All Departments
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showList = !showList">{{showList ? 'expand_more':'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="showList">
                        <div class="col-md-6 col-sm-12 col-12">
                            <label> Show
                                <select class="form-control">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                                entires
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12 text-right">
                            <label>Search
                                <input type="text" class="form-control" (keyup)='updateFilter($event)'>
                            </label>
                        </div>
                    </div>
                    <div *ngIf="showList">
                        <!-- table start -->
                        <ngx-datatable #table class='material striped timesheet-list-table' [columnMode]="'force'" [scrollbarH]="true" [headerHeight]="50" [footerHeight]="50"
                        [rowHeight]="'auto'" [limit]="10" [rows]='rows'>

                            <ngx-datatable-column name="ID" sortable="true" prop="id" [canAutoResize]="false" [minWidth]="50" [maxWidth]="50">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                    <div>{{value}}</div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Department" sortable="true" prop="department">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                    <div>{{value}}</div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Brief" sortable="true" prop="brief" [canAutoResize]="false" [minWidth]="300" [maxWidth]="300">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                <div>{{value}}</div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Head of Department" sortable="true" prop="headOfDepartment">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                    <div>{{value}}</div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Email" sortable="true" prop="email">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                    <div>{{value}}</div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Phone" sortable="true" prop="phone">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                    <div>{{value}}</div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="No of Students" sortable="true" prop="noOfStudents">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                    <div>{{value}}</div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    <!-- table end -->
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>