.chatmsg {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    padding: 10px 15px;
}
.chatmsg.msg_receive .user-img {
    float: left;
    left: 20px;
    position: absolute;
    top: 10px;
}
.chatmsg.msg_receive .user-img img {
    float: right;
    width: 40px;
    border-radius: 50% 50%;
}
.chatmsg.msg_receive .msg_info {
    padding-left: 60px;
    display: inline-block;
    width: 100%;
    float: left;
    text-align: left;
}

.chatmsg .msg_info .name {
    display: block;
    color: #999999;
}
.chatmsg .msg_info .text {
    display: block;
    color: #bbbbbb;
}
.chatmsg .msg_info .ts {
    display: block;
    color: #eef1f5;
    font-size: 12px;
}
.chatmsg.msg_sent .msg_info {
    padding-right: 50px;
    display: inline-block;
    width: 100%;
    float: right;
    text-align: right;
}
.chatmsg.msg_sent .user-img {
    float: right;
    right: 10px;
    position: absolute;
    top: 10px;
}
.typearea {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 20px;
}
.typearea i {
    position: absolute;
    top: 32px;
    left: 25px;
    color: #607D8B;
    font-size: 18px;
    z-index: 2;
    cursor: pointer;
}
.typearea input {
    color: #B0BEC5;
    border: 0px;
    border-bottom: 2px solid #607D8B;
    height: 40px;
    padding-left: 35px;
    z-index: 1;
    background: transparent;
    transition: .5s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    -moz-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    border-radius: 0;
    width: 100%;
}
.msg_sent .user-img img{
    border-radius: 50%;
    width:40px;
}
.typearea input:focus {
    color: #B0BEC5;
    background-color: transparent;
    border-bottom: 2px solid #ec8e72;
}
.typearea input:focus .typearea i{
    color: #ec8e72 !important;
}
