<div class="chatarea">
    <div class="chatmsg msg_receive">
        <div class="user-img">
            <a><img src="../../../assets/img/avatar-1.png"></a>
        </div>
        <div class="msg_info">
            <span class="name">Clarine Vassar</span>
            <span class="text">Wow! What a Beautiful theme!</span>
            <span class="ts">2 min ago</span>
        </div>
    </div>
    <div class="chatmsg msg_sent">
        <div class="msg_info">
            <span class="name">You</span>
            <span class="text">Wow! What a Beautiful theme!</span>
            <span class="ts">2 min ago</span>
        </div>
        <div class="user-img">
            <a><img src="../../../assets/img/avatar-2.png"></a>
        </div>
    </div>

</div>
<div class="typearea">
<i class="material-icons">chat</i>
<input type="text" class="form-control" placeholder="Type & Enter">
</div>