<div class='content-wrapper'>
    <div class="col-md-12 col-lg-12 col-sm-12 col-12">
        <section class="data">
            <header class="panel_content">
                <h2 class="content_title float-left">UNIVERSITY CENTRES</h2>
                <div class="float-right action">
                    <i class="material-icons" (click)="centres=!centres">{{centres?'expand_more':'expand_less'}}</i>
                    <i class=" material-icons">mode_edit</i>
                    <i class=" material-icons">close</i>
                </div>
            </header>
            <div class="content_body p-b-15">
                <div class="row" [ngStyle]="{'display':centres ? 'block': 'none'}">
                    <!-- <div class="col-md-2"></div> -->
                    <div class="col-md-12">
                        <div id="world-map" style="width: 100%; height: 500px"></div>
                    </div>
                    <!-- <div class="col-md-2"></div> -->
                </div>
            </div>
        </section>
    </div>
</div>