<div class="">
    <div class=" form-control eighty" *ngIf="arr.length > 0" (click)="showing()">
        <span *ngFor="let ar of arr" class="name">{{ar.name}} <span class="remove" title="Remove"
                (click)="addRemove(ar)"> x</span></span>
        <!-- <span class="float-right"><i class="material-icons icon-expand"
                (click)="close()">{{show ? 'expand_more' : 'expand_less'}}</i></span> -->
    </div>
    <div class="form-control eighty" (click)="showing()" *ngIf="!show && arr.length == 0">
    </div>
    <div class="form-control eighty custom" *ngIf="show">
        <div (click)="removeAdd(member)" *ngFor="let member of data">{{member.name}}</div>
    </div>
</div>