.custom{
    position: absolute;
    left:10px;
    padding: 5px;
    margin-top:26px;
    z-index: 1;
}
.custom div{
    background: white;
    cursor: pointer;
    padding: 10px;
    -webkit-box-shadow: 4px 6px 5px 0px rgba(204,202,204,1);
    -moz-box-shadow: 4px 6px 5px 0px rgba(204,202,204,1);
    box-shadow: 4px 6px 5px 0px rgba(204,202,204,1);
}
.name{
    background: #37474f;
    padding: 2px 5px;
    margin-right: 3px;
    color: #eee;
    border-radius: 2px;
}
.remove{
    cursor: pointer;
    margin-left: 2px;
}
.open{
    cursor: pointer;
}
.eighty{
    width:80%;
}
