<!-- <div class='content-wrapper'>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="data">
            <header class="panel_content">
                <h2 class="float-left content_title">Department Basic Info</h2>
                <div class="float-right action">
                    <i class="material-icons"
                        (click)="showBasic=!showBasic">{{showBasic?'expand_more':'expand_less'}}</i>
                    <i class="material-icons">mode_edit</i>
                    <i class="material-icons">close</i>
                </div>
            </header>
            <div class="content_body p-b-15">
                <div class="row" *ngIf="showBasic">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <form>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Department Name</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Head of Department</label>
                                <span class="desc">Eg: Prof. John Law</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">No. of Students</label>
                                <span class="desc">Eg: 400.</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-6">Brief</label>
                                <span class="desc">e.g. "Enter any size of text description here"</span>
                                <div class="controls">
                                    <textarea class="form-control full" cols="5" id="field-6"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                        <div class="text-left">
                            <button type="button" class="btn btn-submit">Save</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="data">
            <header class="panel_content">
                <h2 class="float-left content_title">Staff Member Account Info</h2>
                <div class="float-right action">
                    <i class="material-icons" (click)="showInfo=!showInfo">{{showInfo?'expand_more':'expand_less'}}</i>
                    <i class="material-icons">mode_edit</i>
                    <i class="material-icons">close</i>
                </div>
            </header>
            <div class="content_body p-b-15">
                <div class="row" *ngIf="showInfo">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <form>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Email</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-3">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-2">Phone</label>
                                <span class="desc">e.g. "(534) 253-5353"</span>
                                <div class="controls">
                                    <input type="text" name="masked" ui-mask="(999) 999-9999"
                                        placeholder="(999) 999-9999" class="form-control full" ng-model="mask1"
                                        required>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                        <div class="text-left">
                            <button type="button" class="btn btn-submit">Save</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> -->


<div class='content-wrapper'>
    <form [formGroup]="departmentAddform">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">Department Basic Info</h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showBasic=!showBasic">{{showBasic?'expand_more':'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="showBasic">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12"
                            [formGroup]="departmentAddform.get('basic_info')">
                            <!-- <form> -->
                            <div class="form-group">
                                <label class="form-label" for="field-1">Department Name<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1"
                                        formControlName="department_name">
                                    <p *ngFor="let validation of validation_messages.department_name">
                                        <span class="error-message"
                                            *ngIf="departmentAddform.get('basic_info').get('department_name').hasError(validation.type) && (departmentAddform.get('basic_info').get('department_name').dirty || departmentAddform.get('basic_info').get('department_name').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Head Of Department<span class="text-danger">
                                        *</span></label>
                                <span class="desc">e.g. "6 months"</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1"
                                        formControlName="head_of_department">
                                    <p *ngFor="let validation of validation_messages.head_of_department">
                                        <span class="error-message"
                                            *ngIf="departmentAddform.get('basic_info').get('head_of_department').hasError(validation.type) && (departmentAddform.get('basic_info').get('head_of_department').dirty || departmentAddform.get('basic_info').get('head_of_department').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">No. Of Students<span class="text-danger">
                                        *</span></label>
                                <span class="desc">e.g. "Free, $400"</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1"
                                        formControlName="no_of_students">
                                    <p *ngFor="let validation of validation_messages.no_of_students">
                                        <span class="error-message"
                                            *ngIf="departmentAddform.get('basic_info').get('no_of_students').hasError(validation.type) && (departmentAddform.get('basic_info').get('no_of_students').dirty || departmentAddform.get('basic_info').get('no_of_students').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-6">Brief<span class="text-danger"> *</span></label>
                                <span class="desc">e.g. "Enter any size of text description here"</span>
                                <div class="controls">
                                    <textarea class="form-control full" cols="5" id="field-6"
                                        formControlName="brief"></textarea>
                                    <p *ngFor="let validation of validation_messages.brief">
                                        <span class="error-message"
                                            *ngIf="departmentAddform.get('basic_info').get('brief').hasError(validation.type) && (departmentAddform.get('basic_info').get('brief').dirty || departmentAddform.get('basic_info').get('brief').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-submit" (click)="submit()">Save</button>
                                <button type="button" class="btn btn-default" (click)="reset()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">Department Member Account Info</h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showContact=!showContact">{{showContact?'expand_more':'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="showContact">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12"
                            [formGroup]="departmentAddform.get('account_info')">
                            <!-- <form> -->
                            <div class="form-group">
                                <label class="form-label" for="field-1">Email<span class="text-danger"> *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-31" formControlName="email">
                                    <p *ngFor="let validation of validation_messages.email">
                                        <span class="error-message"
                                            *ngIf="departmentAddform.get('account_info').get('email').hasError(validation.type) && (departmentAddform.get('account_info').get('email').dirty || departmentAddform.get('account_info').get('email').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-2">Phone<span class="text-danger"> *</span></label>
                                <span class="desc">e.g. "(534) 253-5353"</span>
                                <div class="controls">
                                    <input type="text" mask="(000) 000-0000" placeholder="(999) 999-9999"
                                        class="form-control full" ng-model="mask1" required formControlName="phone">
                                    <p *ngFor="let validation of validation_messages.phone">
                                        <span class="error-message"
                                            *ngIf="departmentAddform.get('account_info').get('phone').hasError(validation.type) && (departmentAddform.get('account_info').get('phone').dirty || departmentAddform.get('account_info').get('phone').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-submit" (click)="submit()">Save</button>
                                <button type="button" class="btn btn-default" (click)="reset()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
</div>