<div class="prograss" *ngIf="showStep">
    <ul class="prograss_bar">
        <li></li>
        <li></li>
        <li></li>

    </ul>
</div>
<!-- <div class="active back text-center" *ngIf="!showStep">
    <h4 class="text-default">Added SuccessFully</h4>
</div> -->