.prograss ul {
    width: 100%;
    margin: 0 ;
    padding: 1% 1%;
    counter-reset: my-sec-counter;

}
.prograss{
    background: #fff;
}
.prograss ul li{
    display: inline-block;
    width: 33%;
    background-color: #ccc;
    text-align: left;
    position: relative;
    height: 5px;
}

/* .prograss ul li::before {
    display: inline-block;
    content: '';
    position: absolute;
    left: -30px;
    height: 100%;
    width: 10px;
  } */
  .prograss ul li::after {
   
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter);
    display: inline-block;
    position: absolute;
    top: -20px;
    left: 45%;
    width: 40px;
    height: auto;
    font-size: 15px;
    font-weight: 700;
    border: 4px solid #CCC;
    border-radius: 50%;
    background-color: #FFF;
    text-align: center;
    line-height: 32px;
    color: #ccc;
  }
  
