.listing{
    margin: 0;
    padding: 0 15px;
    list-style: none;
}
.group a{
    color: #B0BEC5;
    display: block;
    text-decoration: none;
    padding: 7px 15px;
}
.user-status {
    float: right;
    margin-top: -25px;
    color: #ec8e72;
}
.listing .user-img {
    float: left;
    width: 40px;
    display: inline-block;
    padding: 0px 0 0 0;
    margin-top: -5px;
}
.listing .user-row {
    display: block;
    padding: 15px;
    margin: 0 0 5px 0;
    position: relative;
    cursor: pointer;
}
.listing .user-img img{
    -webkit-border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    border-radius: 50% 50%;
    width: 40px;
    height: 40px;
}
.listing .user-info {
    padding-left: 55px;
    display: block;
    margin-right: 15px;
}
.listing .user-info h4 {
    margin: 0 0 5px 0;
    font-size: 14px;
    display: block;
}
.listing .user-info h4 a {
    color: #B0BEC5;
    display: block;
    text-decoration: none;
}
.listing .user-info .status {
    margin: 0 0 0px 0;
    font-size: 10px;
    color: #aaaaaa;
    display: block;
    line-height: 10px;
}
.group-head {
    color: #B0BEC5;
    padding: 15px 30px 0 30px;
    font-size: 14px;
    margin: 0px 0 15px 0;
}
.listing .user-row:hover, .listing .user-row:active{
    background-color: #263238;
}
.chatapi-head{
    padding: 0px 30px 0 30px;
    font-size: 18px;
    margin: 0px 0 0px 0;
    color: #ffffff;
    background: #ec8e72;
    height: 60px;
    line-height: 60px;
}
.icon_close{
    margin-top: 8%;
    cursor: pointer;
}
/* ==================================================================================== */
/* FREELANCING */
/* =============== */
  .chatapi-head .freelance{
    background: #54bc97 !important;
}
  .chatapi-head .university{
    background: #eb5155 !important;
}
.chatapi-head .hospital{
    background: #59c2e6 !important;
}