<div>
    <h4 class="chatapi-head" [ngStyle]="{ 'background': showIn.selected == 'university' ? '#eb5155' :  (showIn.selected == 'freelancing' ? '#54bc97' : ( showIn.selected == 'socialmedia' ? '#7a6a93': ( showIn.selected == 'hospital' ? '#59c2e6': '')) )}">
        ChatAPI <span class="float-right material-icons icon_close" *ngIf="showInner"
            (click)="showInner = !showInner">close</span> <span class="float-right material-icons icon_close d-md-none d-lg-none d-xl-none  " *ngIf="showIn.chatShow && !showInner"
            (click)="hideChat()">close</span></h4>
    <div *ngIf="showInner">
        <app-chat-inner></app-chat-inner>
    </div>
    <div *ngIf="!showInner">
        <h4 class="group-head">Groups</h4>
        <ul class="listing ">
            <li class="group"><a href="">Work</a></li>
            <li class="group"><a href="">Friend</a></li>
        </ul>
        <h4 class="group-head">Favorities</h4>
        <ul class="listing fav">
            <perfect-scrollbar style="max-width: 300px; max-height: 200px;" id="myDiv">
                <li class="user-row" (click)="showInner = !showInner">
                    <div class="user-img">
                        <a> <img src="../../../assets/img/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a>Mala</a></h4>
                        <span class="status"> Idle</span>
                    </div>
                    <div class="user-status ">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>

                <li class="user-row" (click)="showInner = !showInner">
                    <div class="user-img">
                        <a><img src="../../../assets/img/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a>Mala</a></h4>
                        <span class="status"> Idle</span>
                    </div>
                    <div class="user-status ">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row" (click)="showInner = !showInner">
                    <div class="user-img">
                        <a><img src="../../../assets/img/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a>Mala</a></h4>
                        <span class="status"> Idle</span>
                    </div>
                    <div class="user-status ">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row" (click)="showInner = !showInner">
                    <div class="user-img">
                        <a><img src="../../../assets/img/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a>Mala</a></h4>
                        <span class="status"> Idle</span>
                    </div>
                    <div class="user-status ">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
            </perfect-scrollbar>
        </ul>
        <h4 class="group-head">More Contacts</h4>
        <perfect-scrollbar style="max-width: 300px; max-height: 500px;" id="myDiv">
            <ul class="listing fav">
                <li class="user-row" (click)="showInner = !showInner">
                    <div class="user-img">
                        <a><img src="../../../assets/img/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a>Mala</a></h4>
                        <span class="status"> Idle</span>
                    </div>
                    <div class="user-status ">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>

                <li class="user-row" (click)="showInner = !showInner">
                    <div class="user-img">
                        <a><img src="../../../assets/img/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a>Mala</a></h4>
                        <span class="status"> Idle</span>
                    </div>
                    <div class="user-status ">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row" (click)="showInner = !showInner">
                    <div class="user-img">
                        <a><img src="../../../assets/img/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a>Mala</a></h4>
                        <span class="status"> Idle</span>
                    </div>
                    <div class="user-status ">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row" (click)="showInner = !showInner">
                    <div class="user-img">
                        <a><img src="../../../assets/img/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a>Mala</a></h4>
                        <span class="status"> Idle</span>
                    </div>
                    <div class="user-status ">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row" (click)="showInner = !showInner">
                    <div class="user-img">
                        <a><img src="../../../assets/img/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a>Mala</a></h4>
                        <span class="status"> Idle</span>
                    </div>
                    <div class="user-status ">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row" (click)="showInner = !showInner">
                    <div class="user-img">
                        <a><img src="../../../assets/img/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a>Mala</a></h4>
                        <span class="status"> Idle</span>
                    </div>
                    <div class="user-status ">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row" (click)="showInner = !showInner">
                    <div class="user-img">
                        <a><img src="../../../assets/img/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a>Mala</a></h4>
                        <span class="status"> Idle</span>
                    </div>
                    <div class="user-status ">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row" (click)="showInner = !showInner">
                    <div class="user-img">
                        <a><img src="../../../assets/img/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a>Mala</a></h4>
                        <span class="status"> Idle</span>
                    </div>
                    <div class="user-status ">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
            </ul>
        </perfect-scrollbar>
    </div>
</div>
<div>
</div>