

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        All Library Assets
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showList = !showList">{{showList ? 'expand_more':'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="showList">
                        <div class="col-md-6 col-sm-12 col-12">
                            <label> Show
                                <select class="form-control">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                                entires
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12 text-right">
                            <label>Search
                                <input type="text" class="form-control" (keyup)='updateFilter($event)'>
                            </label>
                        </div>
                    </div>
                    <div *ngIf="showList">
                        <!-- table start -->
                        <ngx-datatable #table class='material striped timesheet-list-table' [columnMode]="'force'" [scrollbarH]="true" [headerHeight]="50" [footerHeight]="50"
                        [rowHeight]="'auto'" [limit]="10" [rows]='rows'>

                            <ngx-datatable-column name="ID" sortable="true" prop="id" [canAutoResize]="false" [minWidth]="100" [maxWidth]="100">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                    <div>{{value}}</div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Title" sortable="true" prop="title">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                    <div>{{value}}</div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Subject" sortable="true" prop="subject">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                <div>{{value}}</div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Department" sortable="true" prop="department">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                    <div>{{value}}</div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Year" sortable="true" prop="year">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                    <div>{{value}}</div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Type" sortable="true" prop="type">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                    <div>{{value}}</div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Status" sortable="true" prop="status">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                    <div>{{value}}</div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    <!-- table end -->
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>