<!-- <div class='content-wrapper' ng-init="app.settings.pagetitle = 'Add A Course';">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="data">
            <header class="panel_content">
                <h2 class="float-left content_title">Course Basic Info</h2>
                <div class="float-right action">
                    <i class="material-icons"
                        (click)="showBasic=!showBasic">{{showBasic?'expand_more':'expand_less'}}</i>
                    <i class="material-icons">mode_edit</i>
                    <i class="material-icons">close</i>
                </div>
            </header>
            <div class="content_body p-b-15">
                <div class="row" *ngIf="showBasic">

                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <form>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Name</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Starts From</label>
                                <span class="desc">e.g. "04/03/2015"</span>
                                <div class="controls">
                                    <input type="text" name="masked" ui-mask="99/99/9999" placeholder="MM/DD/YYYY"
                                        class="form-control full" ng-model="mask11" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Course Time Length</label>
                                <span class="desc">Eg: 6 months.</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Course Price</label>
                                <span class="desc">Eg: Free, $400.00</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="field-1">Professor</label>
                                <span class="desc">Eg: Prof. John Law</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="field-1">Course Image</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="file" class="form-control full" id="field-5">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Department</label>
                                <span class="desc"></span>
                                <div class="input-group" inputgroup>
                                    <select class="form-control ">
                                        <option>Computer Engineering</option>
                                        <option>Architecture</option>
                                        <option>MBA</option>
                                        <option>Automobile Engg.</option>
                                        <option>Civil Engg.</option>
                                        <option>Mechanical Engg.</option>
                                        <option>BBA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Year</label>
                                <span class="desc">Eg: Last Year.</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-6">Brief</label>
                                <span class="desc">e.g. "Enter any size of text description here"</span>
                                <div class="controls">
                                    <textarea class="form-control full" cols="5" id="field-6"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Website URL</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-61">
                                </div>
                            </div>
                        </form>
                    </div>


                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                        <div class="text-left">
                            <button type="button" class="btn  btn-submit">Save</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>



                </div>
            </div>
        </section>
    </div>

    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="data">
            <header class="panel_content">
                <h2 class="float-left content_title">Course Social Media Info</h2>
                <div class="float-right action">
                    <i class="material-icons" (click)="showInfo=!showInfo">{{showInfo?'expand_more':'expand_less'}}</i>
                    <i class="material-icons">mode_edit</i>
                    <i class="material-icons">close</i>
                </div>
            </header>
            <div class="content_body p-b-15">
                <div class="row" *ngIf="showInfo">

                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <form>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Facebook URL</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" value="http://www.facebook.com/userID"
                                        id="field-31">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Twitter URL</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" value="http://www.twitter.com/userID"
                                        id="field-41">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Google Plus URL</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full"
                                        value="http://www.plus.google.com/userID" id="field-51">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                        <div class="text-left">
                            <button type="button" class="btn btn-submit">Save</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>


                </div>
            </div>
        </section>
    </div>
</div> -->

<div class='content-wrapper'>
    <form [formGroup]="courseAddform">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">Course Basic Info</h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showBasic=!showBasic">{{showBasic?'expand_more':'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="showBasic">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12" [formGroup]="courseAddform.get('basic_info')">
                            <!-- <form> -->
                            <div class="form-group">
                                <label class="form-label" for="field-1">Name<span class="text-danger"> *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1" formControlName="name">
                                    <p *ngFor="let validation of validation_messages.name">
                                        <span class="error-message"
                                            *ngIf="courseAddform.get('basic_info').get('name').hasError(validation.type) && (courseAddform.get('basic_info').get('name').dirty || courseAddform.get('basic_info').get('name').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Starts From<span class="text-danger">
                                        *</span></label>
                                <span class="desc">e.g. "04/03/2015"</span>
                                <div class="controls">
                                    <input type="text" mask="d0/m0/0000" placeholder="MM/DD/YYYY"
                                        class="form-control full" ng-model="mask11" required
                                        formControlName="starts_from">
                                    <p *ngFor="let validation of validation_messages.starts_from">
                                        <span class="error-message"
                                            *ngIf="courseAddform.get('basic_info').get('starts_from').hasError(validation.type) && (courseAddform.get('basic_info').get('starts_from').dirty || courseAddform.get('basic_info').get('starts_from').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Course Time Length<span class="text-danger">
                                        *</span></label>
                                <span class="desc">e.g. "6 months"</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1"
                                        formControlName="course_time_length">
                                    <p *ngFor="let validation of validation_messages.course_time_length">
                                        <span class="error-message"
                                            *ngIf="courseAddform.get('basic_info').get('course_time_length').hasError(validation.type) && (courseAddform.get('basic_info').get('course_time_length').dirty || courseAddform.get('basic_info').get('course_time_length').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Course Price<span class="text-danger">
                                        *</span></label>
                                <span class="desc">e.g. "Free, $400"</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1"
                                        formControlName="course_price">
                                    <p *ngFor="let validation of validation_messages.course_price">
                                        <span class="error-message"
                                            *ngIf="courseAddform.get('basic_info').get('course_price').hasError(validation.type) && (courseAddform.get('basic_info').get('course_price').dirty || courseAddform.get('basic_info').get('course_price').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Professor<span class="text-danger">
                                        *</span></label>
                                <span class="desc">e.g: "Prof. John Law"</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1"
                                        formControlName="professor">
                                    <p *ngFor="let validation of validation_messages.professor">
                                        <span class="error-message"
                                            *ngIf="courseAddform.get('basic_info').get('professor').hasError(validation.type) && (courseAddform.get('basic_info').get('professor').dirty || courseAddform.get('basic_info').get('professor').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Course Image<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="file" class="form-control full" id="field-5"
                                        formControlName="course_image">
                                    <p *ngFor="let validation of validation_messages.course_image">
                                        <span class="error-message"
                                            *ngIf="courseAddform.get('basic_info').get('course_image').hasError(validation.type) && (courseAddform.get('basic_info').get('course_image').dirty || courseAddform.get('basic_info').get('course_image').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Department<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="input-group" inputgroup>
                                    <select class="form-control " formControlName="department">
                                        <option>Computer Engineering</option>
                                        <option>Architecture</option>
                                        <option>MBA</option>
                                        <option>Automobile Engg.</option>
                                        <option>Civil Engg.</option>
                                        <option>Mechanical Engg.</option>
                                        <option>BBA</option>
                                    </select>
                                </div>
                                <p *ngFor="let validation of validation_messages.department">
                                    <span class="error-message"
                                        *ngIf="courseAddform.get('basic_info').get('department').hasError(validation.type) && (courseAddform.get('basic_info').get('department').dirty || courseAddform.get('basic_info').get('department').touched)">
                                        {{ validation.message }}
                                    </span>
                                </p>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="field-1">Year<span class="text-danger"> *</span></label>
                                <span class="desc">Eg: Head of Dept.</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1" formControlName="year">
                                </div>
                                <p *ngFor="let validation of validation_messages.year">
                                    <span class="error-message"
                                        *ngIf="courseAddform.get('basic_info').get('year').hasError(validation.type) && (courseAddform.get('basic_info').get('year').dirty || courseAddform.get('basic_info').get('year').touched)">
                                        {{ validation.message }}
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-6">Brief<span class="text-danger"> *</span></label>
                                <span class="desc">e.g. "Enter any size of text description here"</span>
                                <div class="controls">
                                    <textarea class="form-control full" cols="5" id="field-6"
                                        formControlName="brief"></textarea>
                                    <p *ngFor="let validation of validation_messages.brief">
                                        <span class="error-message"
                                            *ngIf="courseAddform.get('basic_info').get('brief').hasError(validation.type) && (courseAddform.get('basic_info').get('brief').dirty || courseAddform.get('basic_info').get('brief').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Website URL<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-61"
                                        formControlName="website_url">
                                    <p *ngFor="let validation of validation_messages.website_url">
                                        <span class="error-message"
                                            *ngIf="courseAddform.get('basic_info').get('website_url').hasError(validation.type) && (courseAddform.get('basic_info').get('website_url').dirty || courseAddform.get('basic_info').get('website_url').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-submit" (click)="submit()">Save</button>
                                <button type="button" class="btn btn-default" (click)="reset()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">Course Social Media Info</h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showContact=!showContact">{{showContact?'expand_more':'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="showContact">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12"
                            [formGroup]="courseAddform.get('social_media_info')">
                            <!-- <form> -->
                            <div class="form-group">
                                <label class="form-label" for="field-1">Facebook URL<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" value="http://www.facebook.com/userID"
                                        id="field-31" formControlName="facebook_url">
                                    <p *ngFor="let validation of validation_messages.facebook_url">
                                        <span class="error-message"
                                            *ngIf="courseAddform.get('social_media_info').get('facebook_url').hasError(validation.type) && (courseAddform.get('social_media_info').get('facebook_url').dirty || courseAddform.get('social_media_info').get('facebook_url').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Twitter URL<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" value="http://www.twitter.com/userID"
                                        id="field-41" formControlName="twitter_url">
                                    <p *ngFor="let validation of validation_messages.twitter_url">
                                        <span class="error-message"
                                            *ngIf="courseAddform.get('social_media_info').get('twitter_url').hasError(validation.type) && (courseAddform.get('social_media_info').get('twitter_url').dirty || courseAddform.get('social_media_info').get('twitter_url').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Google Plus URL<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full"
                                        value="http://www.plus.google.com/userID" id="field-51"
                                        formControlName="google_plus_url">
                                    <p *ngFor="let validation of validation_messages.google_plus_url">
                                        <span class="error-message"
                                            *ngIf="courseAddform.get('social_media_info').get('google_plus_url').hasError(validation.type) && (courseAddform.get('social_media_info').get('google_plus_url').dirty || courseAddform.get('social_media_info').get('google_plus_url').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-submit" (click)="submit()">Save</button>
                                <button type="button" class="btn btn-default" (click)="reset()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
</div>