<div class='content-wrapper'>
    <div class="col-lg-12">
        <section class="data ">
            <header class="panel_content">
                <h2 class="content_title float-left">University Staff Members</h2>
                <div class="float-right action">
                    <i class="material-icons" (click)="ShowList=!ShowList">{{ShowList?'expand_more':'expand_less'}}</i>
                    <i class="material-icons">mode_edit</i>
                    <i class="material-icons">close</i>
                </div>
            </header>
            <div class="content_body padding-bottom-0">
                <div class="row" *ngIf="ShowList">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 col-md-6 col-md-12" *ngFor="let staffMember of staffMembers">
                                <div class="team-member ">
                                    <div class="row">
                                        <div class="team-img col-md-4 col-sm-4 col-4 margin-top-0">
                                            <img class="img-fluid  " src={{staffMember.staffMembers_image}}
                                                alt="">
                                        </div>
                                        <div class="team-info col-lg-8 col-md-8 col-sm-8 col-xs-8 margin-top-0 padding-right-10">
                                            <span class='team-member-edit'><a><i
                                                        class='material-icons icon-sm'>edit</i></a></span>
                                            <h4 class='margin-top-0 margin-bottom-10 text-primary'><a>{{staffMember.professor_name}}</a>
                                            </h4>
                                            <span>{{staffMember.position}} {{staffMember.department}}<br>
                                                <small>Age:</small>{{staffMember.age}} yrs <br>
                                                <small>Phone:</small> {{staffMember.phoneNo}}<br>
                                                <small>Email:</small> {{staffMember.email}}</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                                <div class="text-center">
                                    <ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true">
                                    </ngb-pagination>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>