<div class='content-wrapper'>
    <div class="col-lg-12">
        <section class="data nobox">
            <div class="panel_content">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-12 padding-right-0">
                        <div class=" uprofile-wrapper">
                            <div class="uprofile-image">
                                <img src="../../../../../../../assets/img/course-1.jpg" class="img-fluid">
                            </div>
                            <div class="uprofile-name">
                                <h3>
                                    <a href="#">Web Designing </a>
                                    <!-- Available statuses: online, idle, busy, away and offline -->
                                    <span class="uprofile-status online"></span>
                                </h3>
                                <p class="uprofile-title">Engineering Dept.</p>
                                <p class="text-light profile-text">A top class course to learn at university for any
                                    computer engg. and IT student.</p>
                                <p class="margin-top-30">
                                    <a href="#" class="btn btn-default btn-md text-light"><i
                                            class="fa fa-google-plus icon"></i></a>
                                    <a href="#" class="btn btn-default btn-md text-light"><i
                                            class="fa fa-twitter icon"></i></a>
                                    <a href="#" class="btn btn-default btn-md text-light"><i
                                            class="fa fa-facebook icon"></i></a>
                                </p>
                                <br>
                                <a class="btn btn-md btn-default" style='width:150px;'>Follow</a>
                                <div class="margin-top-30">
                                    <div class="row  margin-0">
                                        <div class="col-4 bg-white">
                                            <strong class="uprofile-count">760 </strong>
                                            <span>Follower</span>
                                        </div>
                                        <div class="col-4 bg-white">
                                            <strong class="uprofile-count">280 </strong>
                                            <span>Following</span>
                                        </div>
                                        <div class="col-4 bg-white">
                                            <strong class="uprofile-count">4104 </strong>
                                            <span>Tweets</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uprofile-buttons margin-0 padding-top-0 text-center">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-12 padding-left-0">
                        <div class="uprofile-content padding-top-30">

                            <h4>Biography:</h4>
                            <p>Education is free in Brunei Darussalam not limited to government educational institutions
                                but private educational institutions too. There are mainly two types of educational
                                institutions namely government or public as well as private institutions. Several stages
                                have to be undergone by the prospective students leading to higher qualifications such
                                as Bachelor's Degree.</p>
                            <ul>
                                <li> Primary School (Year 1 to 6)</li>
                                <li>Secondary School (Year 7 to 11)</li>
                                <li>High School [or also known as the Sixth Form Centers] (Year 12 to 13)</li>
                                <li>Colleges (Pre-University to Diploma)</li>
                                <li>University Level (Undergraduate, Postgraduate and Professional)</li>
                            </ul>
                            <p></p>
                            <p>It takes six and five years to complete the primary and secondary levels respectively.
                                Upon completing these two crucial stages, students have freedom to progress to
                                sixth-form centers, colleges or probably straight to employment. Ahead of times, these
                                students will be led to undertake the university level programs in both, government and
                                private university colleges.</p>
                            <p>Education is free in Brunei Darussalam not limited to government educational institutions
                                but private educational institutions too. There are mainly two types of educational
                                institutions namely government or public as well as private institutions. Several stages
                                have to be undergone by the prospective students leading to higher qualifications such
                                as Bachelor's Degree.</p>
                            <ul>
                                <li> Primary School (Year 1 to 6)</li>
                                <li>Secondary School (Year 7 to 11)</li>
                                <li>High School [or also known as the Sixth Form Centers] (Year 12 to 13)</li>
                                <li>Colleges (Pre-University to Diploma)</li>
                                <li>University Level (Undergraduate, Postgraduate and Professional)</li>
                            </ul>
                            <p></p>
                            <p>It takes six and five years to complete the primary and secondary levels respectively.
                                Upon completing these two crucial stages, students have freedom to progress to
                                sixth-form centers, colleges or probably straight to employment. Ahead of times, these
                                students will be led to undertake the university level programs in both, government and
                                private university colleges.</p>
                            <p></p>
                            <h4>Subjects:</h4>
                            <ul>
                                <li>Integer tincidunt.</li>
                                <li>Praesent vestibulum dapibus nibh.</li>
                                <li>Phasellus consectetuer vestibulum elit..</li>
                                <li>M.B.B.S from Ski University.</li>
                                <li> Praesent vestibulum dapibus nibh.</li>
                                <li> Proin pretium, leo ac pellentesque mollis justo.</li>
                                <li>unc ultrices eros, sed gravida augue augue</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>