<!-- <div class='content-wrapper' ng-init="app.settings.pagetitle = 'Add Staff Member';">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="data">
            <header class="panel_content">
                <h2 class="float-left content_title">Staff Member Basic Info</h2>
                <div class="float-right action">
                    <i class="material-icons"
                        (click)="showBasic=!showBasic">{{showBasic?'expand_more':'expand_less'}}</i>
                    <i class="material-icons">mode_edit</i>
                    <i class="material-icons">close</i>
                </div>
            </header>
            <div class="content_body p-b-15">
                <div class="row" *ngIf="showBasic">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <form>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Name</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Department</label>
                                <span class="desc"></span>
                                <div class="input-group" inputgroup>
                                    <select class="form-control ">
                                        <option></option>
                                        <option>Laboratory</option>
                                        <option>House Keeping</option>
                                        <option>Pharmacy</option>
                                        <option>Pharmacy</option>
                                        <option>Administration</option>
                                        <option>Sales</option>
                                        <option>Marketing</option>
                                        <option>Front Office</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Position</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control full" id="field-1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Date of Birth</label>
                                <span class="desc">e.g. "04/03/2015"</span>
                                <div class="controls">
                                    <input type="text" name="masked" ui-mask="99/99/9999" placeholder="MM/DD/YYYY"
                                        class="form-control full" ng-model="mask11" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Gender</label>
                                <span class="desc"></span>
                                <div class="input-group" inputgroup>
                                    <select class="form-control ">
                                        <option></option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Profile Image</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="file" class="form-control full" id="field-5">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-6">Brief</label>
                                <span class="desc">e.g. "Enter any size of text description here"</span>
                                <div class="controls">
                                    <textarea class="form-control full" cols="5" id="field-6"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                        <div class="text-left">
                            <button type="button" class="btn btn-submit">Save</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="data">
            <header class="panel_content">
                <h2 class="float-left content_title">Staff Member Account Info</h2>
                <div class="float-right action">
                    <i class="material-icons" (click)="showInfo=!showInfo">{{showInfo?'expand_more':'expand_less'}}</i>
                    <i class="material-icons">mode_edit</i>
                    <i class="material-icons">close</i>
                </div>
            </header>
            <div class="content_body p-b-15">
                <div class="row" *ngIf="showInfo">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <form>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Email</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-3">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-2">Phone</label>
                                <span class="desc">e.g. "(534) 253-5353"</span>
                                <div class="controls">
                                    <input type="text" name="masked" ui-mask="(999) 999-9999"
                                        placeholder="(999) 999-9999" class="form-control full" ng-model="mask1"
                                        required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-2">Password</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="password" value="" class="form-control full" id="field-2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-2">Confirm Password</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="password" value="" class="form-control full" id="field-21">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                        <div class="text-left">
                            <button type="button" class="btn btn-submit">Save</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="data ">
            <header class="panel_content">
                <h2 class="float-left content_title">Staff Member Social Media Info</h2>
                <div class="float-right action">
                    <i class="material-icons"
                        (click)="showContact=!showContact">{{showContact?'expand_more':'expand_less'}}</i>
                    <i class="material-icons">mode_edit</i>
                    <i class="material-icons">close</i>
                </div>
            </header>
            <div class="content_body p-b-15">
                <div class="row" *ngIf="showContact">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <form>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Facebook URL</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" value="http://www.facebook.com/userID"
                                        id="field-31">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Twitter URL</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" value="http://www.twitter.com/userID"
                                        id="field-41">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Google Plus URL</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full"
                                        value="http://www.plus.google.com/userID" id="field-51">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                        <div class="text-left">
                            <button type="button" class="btn btn-submit">Save</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> -->

<div class='content-wrapper'>
    <form [formGroup]="staffAddform">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">Staff Basic Info</h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showBasic=!showBasic">{{showBasic?'expand_more':'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="showBasic">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12" [formGroup]="staffAddform.get('basic_info')">
                            <!-- <form> -->
                            <div class="form-group">
                                <label class="form-label" for="field-1">Name<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1" formControlName="name">
                                    <p *ngFor="let validation of validation_messages.name">
                                        <span class="error-message"
                                            *ngIf="staffAddform.get('basic_info').get('name').hasError(validation.type) && (staffAddform.get('basic_info').get('name').dirty || staffAddform.get('basic_info').get('name').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Department<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="input-group" inputgroup>
                                    <select class="form-control " formControlName="department">
                                        <option>Computer Engineering</option>
                                        <option>Architecture</option>
                                        <option>MBA</option>
                                        <option>Automobile Engg.</option>
                                        <option>Civil Engg.</option>
                                        <option>Mechanical Engg.</option>
                                        <option>BBA</option>
                                    </select>
                                </div>
                                <p *ngFor="let validation of validation_messages.department">
                                    <span class="error-message"
                                        *ngIf="staffAddform.get('basic_info').get('department').hasError(validation.type) && (staffAddform.get('basic_info').get('department').dirty || staffAddform.get('basic_info').get('department').touched)">
                                        {{ validation.message }}
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Position<span class="text-danger">
                                        *</span></label>
                                <span class="desc">Eg: Head of Dept.</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1"
                                        formControlName="position">
                                </div>
                                <p *ngFor="let validation of validation_messages.position">
                                    <span class="error-message"
                                        *ngIf="staffAddform.get('basic_info').get('position').hasError(validation.type) && (staffAddform.get('basic_info').get('position').dirty || staffAddform.get('basic_info').get('position').touched)">
                                        {{ validation.message }}
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Date of Birth<span class="text-danger">
                                        *</span></label>
                                <span class="desc">e.g. "04/03/2015"</span>
                                <div class="controls">
                                    <input type="text" name="masked" ui-mask="99/99/9999" placeholder="MM/DD/YYYY"
                                        class="form-control full" ng-model="mask11" required
                                        formControlName="date_of_birth">
                                    <p *ngFor="let validation of validation_messages.date_of_birth">
                                        <span class="error-message"
                                            *ngIf="staffAddform.get('basic_info').get('date_of_birth').hasError(validation.type) && (staffAddform.get('basic_info').get('date_of_birth').dirty || staffAddform.get('basic_info').get('date_of_birth').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Gender<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="input-group" inputgroup>
                                    <select class="form-control" formControlName="gender">
                                        <option></option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                                <p *ngFor="let validation of validation_messages.gender">
                                    <span class="error-message"
                                        *ngIf="staffAddform.get('basic_info').get('gender').hasError(validation.type) && (staffAddform.get('basic_info').get('gender').dirty || staffAddform.get('basic_info').get('gender').touched)">
                                        {{ validation.message }}
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Profile Image<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="file" class="form-control full" id="field-5"
                                        formControlName="profile_image">
                                    <p *ngFor="let validation of validation_messages.profile_image">
                                        <span class="error-message"
                                            *ngIf="staffAddform.get('basic_info').get('profile_image').hasError(validation.type) && (staffAddform.get('basic_info').get('profile_image').dirty || staffAddform.get('basic_info').get('profile_image').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-6">Brief<span class="text-danger">
                                        *</span></label>
                                <span class="desc">e.g. "Enter any size of text description here"</span>
                                <div class="controls">
                                    <textarea class="form-control full" cols="5" id="field-6"
                                        formControlName="brief"></textarea>
                                    <p *ngFor="let validation of validation_messages.brief">
                                        <span class="error-message"
                                            *ngIf="staffAddform.get('basic_info').get('brief').hasError(validation.type) && (staffAddform.get('basic_info').get('brief').dirty || staffAddform.get('basic_info').get('brief').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-submit" (click)="submit()">Save</button>
                                <button type="button" class="btn btn-default" (click)="reset()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" [formGroup]="staffAddform.get('account_info')">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">Staff Account Info</h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showInfo=!showInfo">{{showInfo?'expand_more':'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="showInfo">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                            <!-- <form> -->
                            <div class="form-group">
                                <label class="form-label" for="field-1">Email<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-3" formControlName="email">
                                    <p *ngFor="let validation of validation_messages.email">
                                        <span class="error-message"
                                            *ngIf="staffAddform.get('account_info').get('email').hasError(validation.type) && (staffAddform.get('account_info').get('email').dirty || staffAddform.get('account_info').get('email').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-2">Phone<span class="text-danger">
                                        *</span></label>
                                <span class="desc">e.g. "(534) 253-5353"</span>
                                <div class="controls">
                                    <input type="text" mask="(000) 000-0000" placeholder="(999) 999-9999"
                                        class="form-control full" ng-model="mask1" required formControlName="phone">
                                    <p *ngFor="let validation of validation_messages.phone">
                                        <span class="error-message"
                                            *ngIf="staffAddform.get('account_info').get('phone').hasError(validation.type) && (staffAddform.get('account_info').get('phone').dirty || staffAddform.get('account_info').get('phone').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-2">Password<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="password" value="" class="form-control full" id="field-2"
                                        formControlName="password">
                                    <p *ngFor="let validation of validation_messages.password">
                                        <span class="error-message"
                                            *ngIf="staffAddform.get('account_info').get('password').hasError(validation.type) && (staffAddform.get('account_info').get('password').dirty || staffAddform.get('account_info').get('password').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-2">Confirm Password<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="password" value="" class="form-control full" id="field-21"
                                        formControlName="confirm_password">
                                    <p *ngFor="let validation of validation_messages.confirm_password">
                                        <span class="error-message"
                                            *ngIf="staffAddform.get('account_info').get('confirm_password').hasError(validation.type) && (staffAddform.get('account_info').get('confirm_password').dirty || staffAddform.get('account_info').get('confirm_password').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-submit" (click)="submit()">Save</button>
                                <button type="button" class="btn btn-default" (click)="reset()">Cancel</button>
                            </div>
                        </div>

                    </div>

                </div>
            </section>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">Staff Social Media Info</h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showContact=!showContact">{{showContact?'expand_more':'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="showContact">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12"
                            [formGroup]="staffAddform.get('social_media_info')">
                            <!-- <form> -->
                            <div class="form-group">
                                <label class="form-label" for="field-1">Facebook URL<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" value="http://www.facebook.com/userID"
                                        id="field-31" formControlName="facebook_url">
                                    <p *ngFor="let validation of validation_messages.facebook_url">
                                        <span class="error-message"
                                            *ngIf="staffAddform.get('social_media_info').get('facebook_url').hasError(validation.type) && (staffAddform.get('social_media_info').get('facebook_url').dirty || staffAddform.get('social_media_info').get('facebook_url').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Twitter URL<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" value="http://www.twitter.com/userID"
                                        id="field-41" formControlName="twitter_url">
                                    <p *ngFor="let validation of validation_messages.twitter_url">
                                        <span class="error-message"
                                            *ngIf="staffAddform.get('social_media_info').get('twitter_url').hasError(validation.type) && (staffAddform.get('social_media_info').get('twitter_url').dirty || staffAddform.get('social_media_info').get('twitter_url').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Google Plus URL<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full"
                                        value="http://www.plus.google.com/userID" id="field-51"
                                        formControlName="google_plus_url">
                                    <p *ngFor="let validation of validation_messages.google_plus_url">
                                        <span class="error-message"
                                            *ngIf="staffAddform.get('social_media_info').get('google_plus_url').hasError(validation.type) && (staffAddform.get('social_media_info').get('google_plus_url').dirty || staffAddform.get('social_media_info').get('google_plus_url').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-submit" (click)="submit()">Save</button>
                                <button type="button" class="btn btn-default" (click)="reset()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
</div>