<!-- ===================================================================== CUSTOMER COUNT STARTS HERE  ============================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        DEPARTMENTAL PROFESSOR COUNT
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="customerGender = !customerGender">{{customerGender ? 'expand_more':'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="customerGender">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div>
                                <div>
                                    <div style="display: block">
                                        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                                            [chartType]="doughnutChartType" [colors]="doughnutColor">

                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- ======================================================== CUSTOMER COUNT ENDS HERE ========================================== -->
<!-- ======================================================== MONTHLY TARGET INCOME STARTS HERE ================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        MONTHLY PROFESSOR INCOME
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="monthlyTarget = !monthlyTarget">{{monthlyTarget ? 'expand_more':'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="monthlyTarget">
                        <div class="col-md-12">

                            <div style="display: block;">
                                <canvas baseChart width="600" height="150" [datasets]="lineChartData1"
                                    [labels]="lineChartLabels1" [options]="lineChartOptions1" [colors]="lineChartColors1"
                                    [legend]="lineChartLegend1" [chartType]="lineChartType1"
                                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- ======================================================== MONTHLY TARGET INCOME ENDS HERE ================================== -->
<!-- ======================================================== TARGET BY YEAR STARTS HERE ======================================= -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        PROFESSOR ATTENDANCE COMPARISON
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="targetByYear = !targetByYear">{{targetByYear ? 'expand_more': 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="targetByYear">
                        <div class="col-md-12">

                            <div style="display: block;">
                                <!-- <canvas id="customer" width="600" height="150"></canvas> -->
                                <canvas baseChart width="600" height="150" id="lineChart" [datasets]="lineChartData2"
                                    [labels]="lineChartLabels2" [options]="lineChartOptions2"
                                    [colors]="lineChartColors2" [legend]="lineChartLegend2" [chartType]="lineChartType2"
                                     (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- ======================================================================================================================================= -->