<div class='content-wrapper'>
    <div class="col-lg-12">
        <section class="data ">
            <header class="panel_content">
                <h2 class="content_title float-left">All Professors</h2>
                <div class="float-right action">
                    <i class="material-icons" (click)="ShowList=!ShowList">{{ShowList?'expand_more':'expand_less'}}</i>
                    <i class=" material-icons">mode_edit</i>
                    <i class=" material-icons">close</i>
                </div>
            </header>
            <div class="content_body p-b-15">
                <div class="row" *ngIf="ShowList">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">

                            <div class="col-lg-4 col-sm-12 col-md-6" *ngFor="let professor of professors">
                                <div class="team-member">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-fluid" src="{{professor.basic_info.profile_image}}"
                                            alt="Professor 1">
                                    </div>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
                                        <h3 class='margin-top-15 margin-bottom-10 text-primary'>
                                            <a>{{professor.basic_info.name}}</a>
                                        </h3>
                                        <span class='team-member-edit' (click)="professorEdit(professor.id)"><a><i
                                                    class='material-icons icon-sm'>edit</i></a></span>
                                        <span>Professor, {{professor.basic_info.department}}</span>
                                        <div class="clearfix"></div>
                                        <p class="margin-top-15">{{professor.basic_info.brief}}</p>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-lg-4 col-sm-12 col-md-6">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-fluid" src="../../../../../../../assets//img/professor-1.jpg"
                                            alt="Professor 1">
                                    </div>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
                                        <h3 class='margin-top-15 margin-bottom-10 text-primary'><a>Mr. Laura Arnold</a>
                                        </h3>
                                        <span class='team-member-edit'><a><i
                                                    class='material-icons icon-sm'>edit</i></a></span>
                                        <span>Professor, Computer Engineering</span>
                                        <div class="clearfix"></div>
                                        <p class="margin-top-15">Well known for deep knowledge and experience on the
                                            subject. His teachings and lectures are attended regularly.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 col-md-6">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-fluid" src="../../../../../../../assets//img/professor-2.jpg"
                                            alt="Professor 2">
                                    </div>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
                                        <h3 class='margin-top-15 margin-bottom-10 text-primary'><a>Mr. Benjamin
                                                Olson</a></h3>
                                        <span class='team-member-edit'><a><i
                                                    class='material-icons icon-sm'>edit</i></a></span>
                                        <span>Professor, Architecture</span>
                                        <div class="clearfix"></div>
                                        <p class="margin-top-15">Well known for deep knowledge and experience on the
                                            subject. His teachings and lectures are attended regularly.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 col-md-6">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-fluid" src="../../../../../../../assets//img/professor-3.jpg"
                                            alt="Professor 3">
                                    </div>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
                                        <h3 class='margin-top-15 margin-bottom-10 text-primary'><a>Mr. Andrew Pierce</a>
                                        </h3>
                                        <span class='team-member-edit'><a><i
                                                    class='material-icons icon-sm'>edit</i></a></span>
                                        <span>Professor, Mechanical Engineering</span>
                                        <div class="clearfix"></div>
                                        <p class="margin-top-15">Well known for deep knowledge and experience on the
                                            subject. His teachings and lectures are attended regularly.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-12 col-md-6">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-fluid" src="../../../../../../../assets//img/professor-4.jpg"
                                            alt="Professor 1">
                                    </div>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
                                        <h3 class='margin-top-15 margin-bottom-10 text-primary'><a>Mr. Nancy Reed</a>
                                        </h3>
                                        <span class='team-member-edit'><a><i
                                                    class='material-icons icon-sm'>edit</i></a></span>
                                        <span>Professor, Computer Engineering</span>
                                        <div class="clearfix"></div>
                                        <p class="margin-top-15">Well known for deep knowledge and experience on the
                                            subject. His teachings and lectures are attended regularly.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 col-md-6">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-fluid" src="../../../../../../../assets//img/professor-5.jpg"
                                            alt="Professor 2">
                                    </div>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
                                        <h3 class='margin-top-15 margin-bottom-10 text-primary'><a>Mrs. Mildred
                                                Franklin</a></h3>
                                        <span class='team-member-edit'><a><i
                                                    class='material-icons icon-sm'>edit</i></a></span>
                                        <span>Professor, Architecture</span>
                                        <div class="clearfix"></div>
                                        <p class="margin-top-15">Well known for deep knowledge and experience on the
                                            subject. His teachings and lectures are attended regularly.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 col-md-6">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-fluid" src="../../../../../../../assets//img/professor-6.jpg"
                                            alt="Professor 3">
                                    </div>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
                                        <h3 class='margin-top-15 margin-bottom-10 text-primary'><a>Mrs. Linda Mills</a>
                                        </h3>
                                        <span class='team-member-edit'><a><i
                                                    class='material-icons icon-sm'>edit</i></a></span>
                                        <span>Professor, Mechanical Engineering</span>
                                        <div class="clearfix"></div>
                                        <p class="margin-top-15">Well known for deep knowledge and experience on the
                                            subject. His teachings and lectures are attended regularly.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-12 col-md-6">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-fluid" src="../../../../../../../assets//img/professor-7.jpg"
                                            alt="Professor 1">
                                    </div>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
                                        <h3 class='margin-top-15 margin-bottom-10 text-primary'><a>Mr. Evelyn Oliver</a>
                                        </h3>
                                        <span class='team-member-edit'><a><i
                                                    class='material-icons icon-sm'>edit</i></a></span>
                                        <span>Professor, Computer Engineering</span>
                                        <div class="clearfix"></div>
                                        <p class="margin-top-15">Well known for deep knowledge and experience on the
                                            subject. His teachings and lectures are attended regularly.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 col-md-6">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-fluid" src="../../../../../../../assets//img/professor-8.jpg"
                                            alt="Professor 2">
                                    </div>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
                                        <h3 class='margin-top-15 margin-bottom-10 text-primary'><a>Mr. George Hanson</a>
                                        </h3>
                                        <span class='team-member-edit'><a><i
                                                    class='material-icons icon-sm'>edit</i></a></span>
                                        <span>Professor, Architecture</span>
                                        <div class="clearfix"></div>
                                        <p class="margin-top-15">Well known for deep knowledge and experience on the
                                            subject. His teachings and lectures are attended regularly.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 col-md-6">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-fluid" src="../../../../../../../assets//img/professor-9.jpg"
                                            alt="Professor 3">
                                    </div>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
                                        <h3 class='margin-top-15 margin-bottom-10 text-primary'><a>Mr. Teresa Parker</a>
                                        </h3>
                                        <span class='team-member-edit'><a><i
                                                    class='material-icons icon-sm'>edit</i></a></span>
                                        <span>Professor, Mechanical Engineering</span>
                                        <div class="clearfix"></div>
                                        <p class="margin-top-15">Well known for deep knowledge and experience on the
                                            subject. His teachings and lectures are attended regularly.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-12 col-md-6">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-fluid" src="../../../../../../../assets//img/professor-10.jpg"
                                            alt="Professor 1">
                                    </div>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
                                        <h3 class='margin-top-15 margin-bottom-10 text-primary'><a>Mrs. Steve
                                                Coleman</a>
                                        </h3>
                                        <span class='team-member-edit'><a><i
                                                    class='material-icons icon-sm'>edit</i></a></span>
                                        <span>Professor, Computer Engineering</span>
                                        <div class="clearfix"></div>
                                        <p class="margin-top-15">Well known for deep knowledge and experience on the
                                            subject. His teachings and lectures are attended regularly.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 col-md-6">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-fluid" src="../../../../../../../assets//img/professor-11.jpg"
                                            alt="Professor 2">
                                    </div>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
                                        <h3 class='margin-top-15 margin-bottom-10 text-primary'><a>Mr. Shawn Pierce</a>
                                        </h3>
                                        <span class='team-member-edit'><a><i
                                                    class='material-icons icon-sm'>edit</i></a></span>
                                        <span>Professor, Architecture</span>
                                        <div class="clearfix"></div>
                                        <p class="margin-top-15">Well known for deep knowledge and experience on the
                                            subject. His teachings and lectures are attended regularly.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 col-md-6">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-fluid" src="../../../../../../../assets//img/professor-12.jpg"
                                            alt="Professor 3">
                                    </div>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
                                        <h3 class='margin-top-15 margin-bottom-10 text-primary'><a>Mr. Diana Elliott</a>
                                        </h3>
                                        <span class='team-member-edit'><a><i
                                                    class='material-icons icon-sm'>edit</i></a></span>
                                        <span>Professor, Mechanical Engineering</span>
                                        <div class="clearfix"></div>
                                        <p class="margin-top-15">Well known for deep knowledge and experience on the
                                            subject. His teachings and lectures are attended regularly.</p>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top-30 padding-bottom-30">
                                <div class=" text-center">
                                    <ngb-pagination [collectionSize]="professors.length" [(page)]="page"
                                        [boundaryLinks]="true" (pageChange)="pageChange($event)">
                                    </ngb-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>