.team-member {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0 0 30px 0;
    background-color: transparent;
    border: 0 solid transparent;
}
.team-img {
    padding: 0;
}
.team-info {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.team-member .team-info {
    position: relative;
}
.text-primary a{
    color: #eb5155;
    font-size:22px;
}
.text-primary a:hover{
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}
.margin-top-15 {
    margin-top: 15px!important;
}
.margin-bottom-10 {
    margin-bottom: 10px!important;
}
.team-info span {
    color: #aaa;
}
.team-info span {
    margin-top: 5px!important;
    font-size: 13px;
}
.team-member-edit {
    position: absolute;
    top: 15px;
    right: 0;
    float: right;
}
.team-member-edit a {
    text-decoration: none;
    color: #eb5155;
}
.team-member-edit a i{
    font-size:20px;

}
.team-member-edit a i:hover{
    color: #333;
    cursor:pointer;
}
.team-info p, .team-info span {
    margin-top: 5px!important;
    font-size: 13px;
}