<div class="login_page">
    <div class="login-wrapper">
        <div class="row">
            <div class="col-md-3 col-lg-4"></div>
            <div id="login" class="login social_media loginpage col-lg-4  col-md-6  col-sm-6  col-xs-8">
                <h1><a href="#" title="Login Page" tabindex="-1">Slant Admin - Angular</a></h1>
                <form name="form" class="form-validation" [formGroup]="loginForm">
                    <!-- <div class="text-danger text-center message" ng-show="authError">
                        {{authError}}
                    </div> -->

                    <div>
                        <input type="email" name="email" class="input" placeholder="Email"  formControlName="email"/>
                        <p *ngFor="let error_msg of validationMessages.email">
                            <span class="text-danger" *ngIf="(!loginForm.get('email').valid) && (loginForm.get('email').touched || loginForm.get('email').dirty)">
                                {{error_msg.message}}
                            </span>
                        </p>
                    </div>
                    <div>
                        <input type="password" name="pwd" class="input" placeholder="Password"  formControlName="password"/>
                        <p *ngFor="let error_msg of validationMessages.password">
                            <span class="text-danger" *ngIf="(!loginForm.get('password').valid) && (loginForm.get('password').touched || loginForm.get('password').dirty)">
                                {{error_msg.message}}
                            </span>
                        </p>
                    </div>
                    <p class="forgetmenot">
                        <label class="icheck icheck-white" for="rememberme">
                            <input type="checkbox" value="forever" name="rememberme" checked id="rememberme">
                            <i></i> Remember me
                        </label>
                    </p>
                    <p class="submit">
                        <button type="submit" (click)="login()" class="btn btn-accent btn-block">Sign In</button>
                    </p>
                </form>
                <p id="nav">
                    <a class="float-left" [routerLink]="['/forgot']" title="Password Lost and Found">Forgot
                        password?</a>
                    <a class="float-right" [routerLink]="['/signup']" title="Sign Up">Sign Up</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-4"></div>
        </div>
    </div>
</div>