.menu_list{
    margin:0;
    padding: 0;
}
.icons{
    margin-top: -40px;
    margin-right: 20px;
}
.sub-menu{
    padding: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    -moz-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    transition-timing-function: cubic-bezier(.4, 0, .5, 1);
}
.menu_list li{
    padding: 0px;
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
    font-family: 'Roboto Condensed Light', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.menu_list li a{
    display: block;
    line-height: auto;
    min-height: 45px;
    height: auto;
    color: #eef1f5;
    color: #B0BEC5;
    text-decoration: none;
    padding: 10px 0;
    clear: both;
    text-align: center;
    position: relative;
    cursor:pointer;
}
.menu_list li a .sub-title{
    display: block;
    line-height: 25px;
}
.menu_list li.active a{
    background-color: #263238;
    color: #eef1f5;
 
}
.menu_list li.active a .sub-title{
    padding-right: 45px;
    margin-top: -4px;
 
}
.menu_list li.active a .icons{
    margin-top: -20px;
 
}
.menu_list li.active .sub-menu li {
    background-color: #263238;
    color: #eef1f5;
    position: relative;
}
.menu_list li.active .sub-menu li a:hover{ 
    background-color: #161e22;
    /* border-left: 3px solid transparent; */
} 
.menu_list li a:hover{
    background-color: #263238;
    color: #eef1f5;
    position: relative;
}
.menu_list li.active a i {
    float: left;
    display: inline-block;
    font-size: 18px;
    width: auto;
    margin-left: 45px;
}
.sub-menu li a{
    padding-left: 70px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    -moz-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    background-color: transparent;
    color: #9E9E9E !important;
    line-height: 24px;
    min-height: 30px;
    text-align: left;
}
.small_side_bar .menu, .small_side_bar .menu_list li.active {
    overflow:visible !important;
}
.small_side_bar .ps{
    overflow: visible !important;
}

 .sub-content{
    margin-left: 60px;
    margin-right: 0px;
}
.small_side_bar .profile_info .img{
    width: 100%;
    padding: 0;
}
.small_side_bar .profile_info .img img{
    height: 43px;
    width: 43px;
    margin-left: -24%;
}
.small_side_bar .profile_info .nothing{
    display: none;
}
.small_side_bar .menu_list li{
    position: relative !important;  
}
.small_side_bar .menu_list li a{
    padding-left: 0px;
}
.small_side_bar .menu_list li:hover a, 
.small_side_bar .menu_list li:hover .active a{
    width: 280px;
}

.small_side_bar .menu_list li:hover .sub-menu li a, 
.small_side_bar .menu_list li:hover .active .sub-menu li a{
    width: 220px !important;
    padding-left: 75px;
}
.small_side_bar .menu_list li a:hover, 
.small_side_bar .menu_list li.active a{
    background-color: #263238;
    color: #eef1f5;
    position: relative;
}
.small_side_bar .menu_list li .icons,
 .small_side_bar .menu_list li .sub-title,
 .small_side_bar .menu_list li .sub-menu{
display: none;
}
.small_side_bar .menu_list li:hover .icons,
 .small_side_bar .menu_list li:hover .active .icons {
    display: inline-block;
    margin-left: 0px;
    text-align: left;
    padding-left: 30px;
    background-color: transparent;
    line-height: 25px;
    margin-top: -2px;
    margin-right: 30px;
    font-size: 17px;
}

.small_side_bar .menu_list li a i{
    float: left;
    font-size: 17px;
    height: auto;
    line-height: 17px;
    width: 60px;
    top: 0px;
    margin-left: 0px;
}

.small_side_bar .menu_list li.active .sub-menu{
    position: absolute;
    left: 60px;
    top: 43px;
    width: 220px !important;
    background: #37474F;
}
 .small_side_bar .menu_list li:hover .sub-title, 
 .small_side_bar .menu_list li:hover .sub-title
{
    display: inline-block;
    padding: 0;
    animation-name: fadeInLeft;
  animation-delay: 0s;
}   

.small_side_bar .menu_list li:hover ul{
 display: block;
}

.small_side_bar .profile_status{
    left: 28px;
}
.active{
    background-color: #161e22 !important;
 }
