<nav>
        <!-- ========================================================= University =============================================== -->
        <ul class="menu_list" *ngIf="value == 'university'">
            <li class="">
                <a [routerLink]="['/university/dashboard']" routerLinkActive="active"><i
                        class="material-icons">dashboard</i><span class="sub-title">Dashboard</span></a>
            </li>

            <li class="drop" [ngClass]="{'active': show[1] == true}">
                <a (click)="Show(1)"><i class="material-icons">person_add</i><span
                        class="sub-title">Professors</span>
                    <span
                        class="arrow material-icons float-right icons">{{show[1] == true ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</span></a>
                <ul class="sub-menu fadeIn animated delay-0.5s" *ngIf="show[1] == true">
                    <li><a [routerLink]="['/university/professors']" routerLinkActive="active">All Professor</a></li>
                    <li><a [routerLink]="['/university/professor-add']" routerLinkActive="active">Add Professor</a></li>
                    <li><a [routerLink]="['/university/professor-edit']" routerLinkActive="active">Edit Professor</a></li>
                    <li><a [routerLink]="['/university/professor-profile']" routerLinkActive="active">Professor Profile</a>
                    </li>
                </ul>
            </li>
            <li class="drop" [ngClass]="{'active': show[2] == true}">
                <a (click)="Show(2)"><i class="material-icons">people</i><span
                        class="sub-title">Students</span>
                    <span
                        class="arrow material-icons float-right icons">{{show[2] == true ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</span></a>
                <ul class="sub-menu fadeIn animated " *ngIf="show[2] == true">
                    <li><a [routerLink]="['/university/students']" routerLinkActive="active">All Students</a></li>
                    <li><a [routerLink]="['/university/student-add']" routerLinkActive="active">Add Student</a></li>
                    <li><a [routerLink]="['/university/student-edit']" routerLinkActive="active">Edit Student</a></li>
                    <li><a [routerLink]="['/university/student-profile']" routerLinkActive="active">Student Profile</a></li>
                </ul>
            </li>
            <li class="drop" [ngClass]="{'active': show[8] == true}">
                <a (click)="Show(8)"><i class="material-icons">equalizer</i><span
                        class="sub-title">Reports</span>
                    <span
                        class="arrow material-icons float-right icons">{{show[8] == true ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</span></a>
                <ul class="sub-menu fadeIn animated " *ngIf="show[8] == true">
                    <li><a [routerLink]="['/university/students-report']" routerLinkActive="active">Students</a></li>
                    <li><a [routerLink]="['/university/university-report']" routerLinkActive="active">University</a></li>
                    <li><a [routerLink]="['/university/professors-report']" routerLinkActive="active">Professors</a></li>
                </ul>
            </li>
            <li class="">
                <a [routerLink]="['/university/mail']" routerLinkActive="active"><i class="material-icons">mail</i><span
                        class="sub-title">Mail</span></a>
            </li>
            <li class="drop" [ngClass]="{'active': show[3] == true}">
                <a (click)="Show(3)"><i class="material-icons">school</i><span
                        class="sub-title">Courses</span>
                    <span
                        class="arrow material-icons float-right icons">{{show[3] == true ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</span></a>
                <ul class="sub-menu fadeIn animated " *ngIf="show[3] == true">
                    <li><a [routerLink]="['/university/courses']" routerLinkActive="active">All Courses</a></li>
                    <li><a [routerLink]="['/university/course-add']" routerLinkActive="active">Add Courses</a></li>
                    <li><a [routerLink]="['/university/course-edit']" routerLinkActive="active">Edit Courses</a></li>
                    <li><a [routerLink]="['/university/course-info']" routerLinkActive="active">Courses Info</a></li>
                </ul>
            </li>
            <li class="drop" [ngClass]="{'active': show[9] == true}">
                <a (click)="Show(9)"><i class="material-icons">local_library</i><span
                        class="sub-title">Library</span>
                    <span
                        class="arrow material-icons float-right icons">{{show[9] == true ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</span></a>
                <ul class="sub-menu fadeIn animated " *ngIf="show[9] == true">
                    <li><a [routerLink]="['/university/library-assets']" routerLinkActive="active">All Library Assets</a></li>
                    <li><a [routerLink]="['/university/library-asset-add']" routerLinkActive="active">Add Library Assets</a>
                    </li>
                    <li><a [routerLink]="['/university/library-asset-edit']" routerLinkActive="active">Edit Library Assets</a>
                    </li>
                </ul>
            </li>
            <li class="drop" [ngClass]="{'active': show[7] == true}">
                <a (click)="Show(7)"><i class="material-icons">group_work</i><span
                        class="sub-title">Departments</span>
                    <span
                        class="arrow material-icons float-right icons">{{show[7] == true ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</span></a>
                <ul class="sub-menu fadeIn animated " *ngIf="show[7] == true">
                    <li><a [routerLink]="['/university/departments']" routerLinkActive="active">All Department</a></li>
                    <li><a [routerLink]="['/university/department-add']" routerLinkActive="active">Add Department</a></li>
                    <li><a [routerLink]="['/university/department-edit']" routerLinkActive="active">Edit Department</a></li>
                </ul>
            </li>

            <li class="drop" [ngClass]="{'active': show[5] == true}">
                <a (click)="Show(5)"><i class="material-icons">face</i><span class="sub-title">Staff</span>
                    <span
                        class="arrow material-icons float-right icons">{{show[5] == true ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</span></a>
                <ul class="sub-menu fadeIn animated " *ngIf="show[5] == true">
                    <li><a [routerLink]="['/university/staff-members']" routerLinkActive="active">All Staff Members</a></li>
                    <li><a [routerLink]="['/university/staff-member-add']" routerLinkActive="active">Add Staff Member</a></li>
                    <li><a [routerLink]="['/university/staff-member-edit']" routerLinkActive="active">Edit Staff Member</a>
                    </li>
                    <li><a [routerLink]="['/university/staff-member-profile']" routerLinkActive="active">Staff Member
                            Profile</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a [routerLink]="['/university/event-management']" routerLinkActive="active"><i
                        class="material-icons">event</i><span class="sub-title">Event Management</span></a>
            </li>
            <li class="">
                <a [routerLink]="['/university/university-centres']" routerLinkActive="active"><i
                        class="material-icons">map</i><span class="sub-title">University Centres</span></a>
            </li>
            <li *ngIf="sidebar == true">
                <div class="group">
                    <div class="tsp">Admissions<span class="float-right">50%</span></div>
                    <div class="progress height5">
                        <div class="progress-bar bg-danger" style="width:50%"></div>
                    </div>
                </div>
            </li>
            <li *ngIf="sidebar == true">
                <div class="group">
                    <div class="tsp">Library Assets<span class="float-right">70%</span></div>
                    <div class="progress height5">
                        <div class="progress-bar bg-warning" style="width:70%"></div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>