<!-- ===========================================================  CUSTOMERS QUALITY OF SERVICE STARTS HERE ============================================================= -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        UNIVERSITY ADMISSIONS

                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="customerQuality = !customerQuality">{{customerQuality ? 'expand_more':'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="customerQuality">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">

                            <div style="display: block;">
                                <canvas baseChart width="600" height="350" [datasets]="lineChartData1"
                                    [labels]="lineChartLabels1" [options]="lineChartOptions" [colors]="lineChartColors1"
                                    [legend]="lineChartLegend" [chartType]="lineChartType" 
                                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                            </div>

                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- ======================================================= CUSTOMERS QUALITY OF SERVICEENDS HERE ================================================================= -->
<!-- ================================================= CUSTOMER COST PER MONTH PER YEAR STARTS HERE ============================================= -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        STUDENT COST PER MONTH PER YEAR STAY
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="showCustomerCost = !showCustomerCost">{{showCustomerCost ? 'expand_more': 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="showCustomerCost">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div>
                                <div style="display: block">
                                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                        [options]="barChartOptions" [colors]="salesColor" [legend]="barChartLegend"
                                        [chartType]="barChartType">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- =========================================================== CUSTOMER COST PER MONTH PER YEAR ENDS YEAR ============================================= -->
<!-- ======================================================= STAFF COMMUNICATION WITH CUSTOMERS STARTS HERE ======================================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        PROFESSOR COMMUNICATION WITH STUDENTS
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="staffCommunication = !staffCommunication">{{staffCommunication ? 'expand_more': 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="staffCommunication">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div>
                                <div style="display: block">
                                    <canvas baseChart [datasets]="barChartData1" [labels]="barChartLabels1"
                                        [options]="barChartOptions" [colors]="salesColor1" [legend]="barChartLegend"
                                        [chartType]="barChartType">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- ======================================================= STAFF COMMUNICATION WITH CUSTOMERS ENDS HERE ======================================================== -->
<!-- ======================================================= COMPANY BUDGET STARTS HERE ========================================================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        UNIVERSITY BUDGET
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="companyBudget = !companyBudget">{{companyBudget ? 'expand_more': 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="companyBudget">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">

                            <div style="display: block;">
                                <canvas baseChart width="600" height="300" [datasets]="lineChartData"
                                    [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                                    [legend]="lineChartLegend" [chartType]="lineChartType" 
                                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                            </div>

                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- ======================================================= COMPANY BUDGET ENDS HERE ========================================================================== -->
<!-- ======================================================= CUSTOMER DAILY ACTIVITY STARTS HERE =============================================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        PROFESSOR DAILY ACTIVITY
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="customerActivity = !customerActivity">{{customerActivity ? 'expand_more': 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="customerActivity">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div>
                                <div>
                                    <div style="display: block">
                                        <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions"
                                            [colors]="radarcolor" [labels]="radarChartLabels"
                                            [chartType]="radarChartType">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- ======================================================= CUSTOMER DAILY ACTIVITY ENDS HERE =============================================================== -->
<!-- ======================================================= CUSTOMER GENDER COUNT STARTS HERE ================================================================= -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <section class="data">
                <header class="panel_content">
                    <h2 class="float-left content_title">
                        UNIVERSITY STAFF GENDER COUNT
                    </h2>
                    <div class="float-right action">
                        <i class="material-icons"
                            (click)="customerGender = !customerGender">{{customerGender ? 'expand_more': 'expand_less'}}</i>
                        <i class="material-icons">mode_edit</i>
                        <i class="material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="customerGender">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div>
                                <div>
                                    <div style="display: block">
                                        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                                            [chartType]="doughnutChartType" [colors]="doughnutColor">

                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- ======================================================= CUSTOMER GENDER COUNT ENDS HERE ================================================================= -->