<div class='content-wrapper'>
    <div class="col-lg-12">
        <section class="data nobox">
            <div class="panel_content">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-12 padding-right-0">
                        <div class=" uprofile-wrapper">
                            <div class="uprofile-image">
                                <img src="../../../../../../../assets/img/student-1.jpg" class="img-fluid">
                            </div>
                            <div class="uprofile-name">
                                <h3>
                                    <a href="#">Nr. Arthur Wilson</a>
                                    <!-- Available statuses: online, idle, busy, away and offline -->
                                    <span class="uprofile-status online"></span>
                                </h3>
                                <p class="uprofile-title">Engineering Dept.</p>
                                <p class="text-light profile-text">A student, informally often known as full student, is
                                    the highest academic rank at university</p>
                                <p class="margin-top-30">
                                    <a href="#" class="btn btn-default btn-md text-light"><i
                                            class="fa fa-google-plus icon"></i></a>
                                    <a href="#" class="btn btn-default btn-md text-light"><i
                                            class="fa fa-twitter icon"></i></a>
                                    <a href="#" class="btn btn-default btn-md text-light"><i
                                            class="fa fa-facebook icon"></i></a>
                                </p>
                                <br>
                                <a class="btn btn-md btn-default" style='width:150px;'>Follow</a>
                                <div class="margin-top-30">
                                    <div class="row  margin-0">
                                        <div class="col-4 bg-white">
                                            <strong class="uprofile-count">760 </strong>
                                            <span>Follower</span>
                                        </div>
                                        <div class="col-4 bg-white">
                                            <strong class="uprofile-count">280 </strong>
                                            <span>Following</span>
                                        </div>
                                        <div class="col-4 bg-white">
                                            <strong class="uprofile-count">4104 </strong>
                                            <span>Tweets</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uprofile-buttons margin-0 padding-top-0 text-center">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-12 padding-left-0">
                        <div class="uprofile-content padding-top-30">

                            <h4>Biography:</h4>
                            <p>A professor, informally often known as full professor, is the highest academic rank at
                                universities and other post-secondary education and research institutions in most
                                countries. Literally, professor derives from Latin as a "person who professes" being
                                usually an expert in arts or sciences, a teacher of the highest rank.[1] In some
                                countries, the word professor is also used in titles of lower ranks such as associate
                                professor and assistant professor.</p>
                            <p>Professors conduct original research and commonly teach undergraduate, graduate, and/or
                                professional courses in their field of expertise. In universities with graduate schools,
                                professors may mentor and supervise graduate students who are conducting research for a
                                thesis or dissertation. Professors typically hold a Ph.D., another doctorate or a
                                different terminal degree. Some professors hold a master's degree or a professional
                                degree such as an MD as their highest degree.</p>
                            <div class="clearfix"></div>
                            <hr>
                            <h4>Education:</h4>
                            <ul>
                                <li>B.Com from Ski University</li>
                                <li>In hac habitasse platea dictumst.</li>
                                <li>In hac habitasse platea dictumst.</li>
                                <li>Vivamus elementum semper nisi.</li>
                                <li>Praesent ac sem eget est egestas volutpat.</li>
                            </ul>
                            <div class="clearfix"></div>
                            <hr>
                            <h4>Competencies:</h4>
                            <ul>
                                <li>Integer tincidunt.</li>
                                <li>Praesent vestibulum dapibus nibh.</li>
                                <li>Integer tincidunt.</li>
                                <li>Praesent vestibulum dapibus nibh.</li>
                                <li>Integer tincidunt.</li>
                                <li>Praesent vestibulum dapibus nibh.</li>
                            </ul>

                            <div class="clearfix"></div>
                            <hr>
                            <h4>Experience:</h4>
                            <ul>
                                <li>Integer tincidunt.</li>
                                <li>Praesent vestibulum dapibus nibh.</li>
                                <li>M.B.B.S from Ski University</li>
                                <li>Praesent vestibulum dapibus nibh.</li>
                                <li>Proin pretium, leo ac pellentesque mollis justo.</li>
                                <li>unc ultrices eros, sed gravida augue augue</li>
                            </ul>
                            <div class="clearfix"></div>
                            <hr>
                            <h4>Subjects:</h4>
                            <ul>
                                <li>Integer tincidunt.</li>
                                <li>Praesent vestibulum dapibus nibh.</li>
                                <li> Phasellus consectetuer vestibulum elit.</li>
                                <li>M.B.B.S from Ski University</li>
                                <li>Praesent vestibulum dapibus nibh.</li>
                                <li>Proin pretium, leo ac pellentesque mollis justo.</li>
                                <li>unc ultrices eros, sed gravida augue augue</li>
                            </ul>
                            <div class="clearfix"></div>
                            <hr>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>