.uprofile-wrapper {
    display: inline-block;
    width: 100%;
    padding: 0;
    color: #757575;
    background-color: #dedede;
}
.uprofile-image {
    display: inline-block;
    width: 100%;
    margin: 0 0 15px 0;
    text-align: center;
}
.uprofile-image img {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #999;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.uprofile-name {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.uprofile-name h3 {
    margin: 10px 0 5px 0;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color: #505458;
}
.uprofile-name h3 a {
    color: #424242;
    text-decoration: none;
    
}
.uprofile-name .uprofile-title {
    color: #757575;
}
.uprofile-name .profile-text {
    padding: 0 15px;
    margin: 30px 0 0 0;
    color: #757575 !important;
}
.margin-top-30 {
    margin-top: 30px!important;
}
.btn, .btn.btn-default {
    color: #333 !important;
    background: #e0e0e0;
    webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.075);
}

.bg-white {
    padding: 3px 8px;
    color: #757575;
    background: #fff;
}
.padding-left-0 {
    padding-left: 0!important;
}
.padding-right-0 {
    padding-right: 0!important;
}
.padding-top-30 {
    padding-top: 30px!important;
}
.uprofile-content {
    display: inline-block;
    width: 100%;
    min-height: 600px;
    padding: 0 30px;
    background-color: #fff;
}
.uprofile-content h4{
    font-size:16px;
    color: #505458;
}
.uprofile-content ul{
    margin: 0;
    padding-left: 20px; 
}
.margin-0{
    margin: 0px;
}
.data.nobox {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
  