<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Edit Library Asset';">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="data">
            <header class="panel_content">
                <h2 class="float-left content_title">Library Asset Basic Info</h2>
                <div class="float-right action">
                    <i class="material-icons"
                        (click)="showBasic=!showBasic">{{showBasic?'expand_more':'expand_less'}}</i>
                    <i class="material-icons">mode_edit</i>
                    <i class="material-icons">close</i>
                </div>
            </header>
            <div class="content_body p-b-15">
                <div class="row" *ngIf="showBasic">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <form [formGroup]="libraryAssetsedit">
                            <div class="form-group">
                                <label class="form-label" for="field-1">Title<span class="text-danger"> *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="Computer Coding Standards" class="form-control full"
                                        formControlName="title" id="field-1">
                                    <p *ngFor="let validation of validation_messages.title">
                                        <span class="error-message"
                                            *ngIf="libraryAssetsedit.get('title').hasError(validation.type) && (libraryAssetsedit.get('title').dirty || libraryAssetsedit.get('title').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Subject<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="Computer Programming" class="form-control full"
                                        formControlName="subject" id="field-1">
                                    <p *ngFor="let validation of validation_messages.subject">
                                        <span class="error-message"
                                            *ngIf="libraryAssetsedit.get('subject').hasError(validation.type) && (libraryAssetsedit.get('subject').dirty || libraryAssetsedit.get('subject').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Library Asset Price<span class="text-danger">
                                        *</span></label>
                                <span class="desc">Eg: Free, $400.00</span>
                                <div class="controls">
                                    <input type="text" value="$30.00" class="form-control full" id="field-1"
                                        formControlName="libraryassetsprice">
                                    <p *ngFor="let validation of validation_messages.libraryassetsprice">
                                        <span class="error-message"
                                            *ngIf="libraryAssetsedit.get('libraryassetsprice').hasError(validation.type) && (libraryAssetsedit.get('libraryassetsprice').dirty || libraryAssetsedit.get('libraryassetsprice').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Author<span class="text-danger">
                                        *</span></label>
                                <span class="desc">Eg: Prof. John Law</span>
                                <div class="controls">
                                    <input type="text" value="Prof. Mark A." class="form-control full" id="field-1"
                                        formControlName="author">
                                    <p *ngFor="let validation of validation_messages.author">
                                        <span class="error-message"
                                            *ngIf="libraryAssetsedit.get('author').hasError(validation.type) && (libraryAssetsedit.get('author').dirty || libraryAssetsedit.get('author').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Department<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="input-group" inputgroup>
                                    <select class="form-control " formControlName="department_id">
                                        <option selected="selected">Computer Engineering</option>
                                        <option>Architecture</option>
                                        <option>MBA</option>
                                        <option>Automobile Engg.</option>
                                        <option>Civil Engg.</option>
                                        <option>Mechanical Engg.</option>
                                        <option>BBA</option>
                                    </select>
                                </div>
                                <p *ngFor="let validation of validation_messages.department_id">
                                    <span class="error-message"
                                        *ngIf="libraryAssetsedit.get('department_id').hasError(validation.type) && (libraryAssetsedit.get('department_id').dirty || libraryAssetsedit.get('department_id').touched)">
                                        {{ validation.message }}
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Asset Type<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="input-group" inputgroup>
                                    <select class="form-control " formControlName="asset_type_id">
                                        <option selected="selected">Book</option>
                                        <option>DVD</option>
                                        <option>CD</option>
                                        <option>Newspaper</option>
                                        <option>Report</option>
                                    </select>
                                </div>
                                <p *ngFor="let validation of validation_messages.asset_type_id">
                                    <span class="error-message"
                                        *ngIf="libraryAssetsedit.get('asset_type_id').hasError(validation.type) && (libraryAssetsedit.get('asset_type_id').dirty || libraryAssetsedit.get('asset_type_id').touched)">
                                        {{ validation.message }}
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Status<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="input-group" inputgroup>
                                    <select class="form-control " formControlName="status_id">
                                        <option selected="selected">In Stock</option>
                                        <option>Out of Stock</option>
                                    </select>
                                </div>
                                <p *ngFor="let validation of validation_messages.status_id">
                                    <span class="error-message"
                                        *ngIf="libraryAssetsedit.get('status_id').hasError(validation.type) && (libraryAssetsedit.get('status_id').dirty || libraryAssetsedit.get('status_id').touched)">
                                        {{ validation.message }}
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Year<span class="text-danger"> *</span></label>
                                <span class="desc">Eg: Last Year.</span>
                                <div class="controls">
                                    <input type="text" value="Last Year" class="form-control full" id="field-1"
                                        formControlName="year">
                                    <p *ngFor="let validation of validation_messages.year">
                                        <span class="error-message"
                                            *ngIf="libraryAssetsedit.get('year').hasError(validation.type) && (libraryAssetsedit.get('year').dirty || libraryAssetsedit.get('year').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-6">Brief<span class="text-danger"> *</span></label>
                                <span class="desc">e.g. "Enter any size of text description here"</span>
                                <div class="controls">
                                    <textarea class="form-control full" cols="5" formControlName="brief"
                                        id="field-6">Full info of the library asset can be added here</textarea>
                                    <p *ngFor="let validation of validation_messages.brief">
                                        <span class="error-message"
                                            *ngIf="libraryAssetsedit.get('brief').hasError(validation.type) && (libraryAssetsedit.get('brief').dirty || libraryAssetsedit.get('brief').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                        <div class="text-left">
                            <button type="button" class="btn btn-submit" (click)="submit()">Save</button>
                            <button type="button" class="btn btn-default" (click)="reset()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>