ul{
    margin: 0;
    padding: 0;
}
ul li{
    display: inline-block;
    cursor: pointer;
}
.hospital .activeTab{
    background:   #59c2e6;
    color: #fff;
}
.university .activeTab{
    background:   #eb5155;
    color: #fff;
}
.crm .activeTab{
    background:   #ec8e72;
    color: #fff;
}
.freelance .activeTab{
    background:   #00797c;
    color: #fff;
}
.socialmedia .activeTab{
    background:    #7a6a93;
    color: #fff;
}
.activeTab{
    background:    #eb5155;
    color: #fff;
}
