<div>
    <section class="data">
        <header class="panel_content">
            <ul>
                <li class="float-left content_title inline" [ngClass]="{'activeTab': selectedItem == heads.id}"
                    *ngFor="let heads of tab"><a (click)="Select(heads.id)">{{heads.heading}}</a></li>
            </ul>
        </header>
    </section>
</div>