<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Edit Course';">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="data ">
            <header class="panel_content">
                <h2 class="float-left content_title">Course Basic Info</h2>
                <div class="float-right action">
                    <i class="material-icons"
                        (click)="showBasic=!showBasic">{{showBasic?'expand_more':'expand_less'}}</i>
                    <i class="material-icons">mode_edit</i>
                    <i class="material-icons">close</i>
                </div>
            </header>
            <div class="content_body p-b-15">
                <div class="row" *ngIf="showBasic">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <form>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Name<span class="text-danger"> *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="Prof. Arthur Yurey" class="form-control full"
                                        id="field-1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Starts From<span class="text-danger">
                                        *</span></label>
                                <span class="desc">e.g. "04/03/2015"</span>
                                <div class="controls">
                                    <input type="text" name="masked" ng-init="mask11='04-03-1975'" ui-mask="99-99-9999"
                                        placeholder="MM-DD-YYYY" class="form-control full" ng-model="mask11" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Course Time Length<span class="text-danger">
                                        *</span></label>
                                <span class="desc">Eg: 6 months.</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1" value="3 months">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Course Price<span class="text-danger">
                                        *</span></label>
                                <span class="desc">Eg: Free, $400.00</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1" value="$300.00">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Professor<span class="text-danger">
                                        *</span></label>
                                <span class="desc">Eg: Prof. John Law</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1" value="Prof. Jason">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Course Image<span class="text-danger">
                                        *</span></label>
                                <div class="clearfix"></div>
                                <img class="img-responsive" src="../../../../../../../assets/img/course-1.jpg" alt=""
                                    style="max-width:120px;">
                                <div class="controls">
                                    <input type="file" class="form-control full" id="field-5">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Department<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="input-group" inputgroup>
                                    <select class="form-control ">
                                        <option selected="selected">Computer Engineering</option>
                                        <option>Architecture</option>
                                        <option>MBA</option>
                                        <option>Automobile Engg.</option>
                                        <option>Civil Engg.</option>
                                        <option>Mechanical Engg.</option>
                                        <option>BBA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Year<span class="text-danger"> *</span></label>
                                <span class="desc">Eg: Last Year.</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" value="Last Year" id="field-1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-6">Brief<span class="text-danger"> *</span></label>
                                <span class="desc">e.g. "Enter any size of text description here"</span>
                                <div class="controls">
                                    <textarea class="form-control full" cols="5"
                                        id="field-6">Well structured and deep knowledge in the subject is given in this course along with live practical examples.</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Website URL<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" value="http://www.example.com"
                                        id="field-61">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                        <div class="text-left">
                            <button type="button" class="btn btn-submit">Save</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="data ">
            <header class="panel_content">
                <h2 class="float-left content_title">Course Social Media Info</h2>
                <div class="float-right action">
                    <i class="material-icons" (click)="showInfo=!showInfo">{{showInfo?'expand_more':'expand_less'}}</i>
                    <i class="material-icons">mode_edit</i>
                    <i class="material-icons">close</i>
                </div>
            </header>
            <div class="content_body p-b-15">
                <div class="row" *ngIf="showInfo">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <form>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Facebook URL<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" value="http://www.facebook.com/userID"
                                        id="field-31">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Twitter URL<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" value="http://www.twitter.com/userID"
                                        id="field-41">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Google Plus URL<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full"
                                        value="http://www.plus.google.com/userID" id="field-51">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                        <div class="text-left">
                            <button type="button" class="btn btn-submit">Save</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>