<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="close text-right" (click)="close()">&times;</div>
      <h3 class="text-center"><b>Delete</b></h3>
      <h4>Do you want to delete this <b>{{name}}</b>?</h4>
      <div class="text-center mt20">
        <button class="btn btn-submit mr10" (click)="delete(id)" >Delete</button>
        <button class="btn btn-default " (click)="close()" >Cancel</button>
    </div>
    </div>
  
  </div>