<div class="login_page">
    <div class="login-wrapper">
        <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-3 col-2"></div>
        <div id="forgotpass" class="login social_media loginpage col-lg-4 col-md-6 col-sm-6 col-8">
            <h1><a href="#" title="Login Page" tabindex="-1">Slant Admin - Angular</a></h1>

            <form name="form" class="form-validation" [formGroup]="forgotForm">

                <!-- <div class="text-danger text-center message" ng-show="authError">
                  {{authError}}
              </div> -->

                <div>
                    <label for="user_login">Email<br />
                        <input type="email" name="email"  class="input" formControlName="email"/></label>
                        <p *ngFor="let error_msg of validationMessages.email">
                            <span class="text-danger" *ngIf="(!forgotForm.get('email').valid) && (forgotForm.get('email').touched || forgotForm.get('email').dirty)">
                                {{error_msg.message}}
                            </span>
                        </p>
                </div>

                <div class="submit">
                    <button type="submit" class="btn btn-accent btn-block" >Send
                        Reset Link</button>
                </div>

                <div uib-collapse="isCollapsed" class="m-t">
                    <!-- <div class="alert alert-success">
                <p>A reset link sent to your email address. It will expire after 2 hours. &nbsp;<a ui-sref="access.login" style='color:#ffffff;font-weight:normal;'>Click to Sign in now</a></p>
              </div>-->
            </div> 
            </form>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-3 col-2"></div>
        </div>
    </div>
</div>