<div class='content-wrapper' >
        <div class="col-lg-12">
            <section class="data ">
                <header class="panel_content">
                    <h2 class="content_title float-left">CRM Google Map</h2>
                    <div class="action float-right">
                        <i class="material-icons" (click)="showMap = !showMap">{{showMap ? 'expand_more':'expand_less'}}</i>
                        <i class="material-icons" >mode_edit</i>
                        <i class=" material-icons">close</i>
                    </div>
                </header>
                <div class="content_body p-b-15">
                    <div class="row" *ngIf="showMap">
                        <div class="col-md-12 col-sm-12 col-xs-12">     
                                <agm-map [latitude]="lat" [longitude]="lng">
                                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                </agm-map>
                        </div>
                        <!-- end -->
                    </div>
                </div>
        </section>
    </div>
    </div>
    