/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: 'Source Sans Pro';
    src: url(./assets/font/SourceSansPro-Regular.otf) format("opentype");
}
@font-face{
   font-family: 'Roboto Condensed';
   src: url(./assets/font/RobotoCondensed-Regular.ttf) format("truetype");
}
@font-face{
   font-family: 'Roboto Condensed Light';
   src: url(./assets/font/RobotoCondensed-Light.ttf) format("truetype");
}
@font-face{
   font-family: 'Open Sans';
   src: url(./assets/font/OpenSans-Regular.ttf) format("truetype");
}
.error-message {
  color: red;
}
.fc-view-container {
    background: #fff;
}
.action_icon{
    font-size: 18px;
    padding: 4px 8px;
    cursor: pointer;
}
.ngx-datatable.material{
    box-shadow: none;
}
.ngx-datatable.material .datatable-header .datatable-header-cell{
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
body {
    background-color: #eef1f5;
    color: #757575;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0px !important;
    margin: 0px !important;
    line-height: 23px;
    font-style: normal;
    font-weight: normal;
    min-height: 100%;
}
.padding0{
    padding: 0px;
}
.data{
    background-color: transparent;
    margin: 15px 0 15px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 0 2px 2px rgba(0, 0, 0, 0.1);
}
.data.nobox {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.panel_content{
    width: 100%;
    display: inline-block;
    background-color: transparent;
    border: 0px solid rgba(0, 0, 0, 0.12);
    border-bottom: 0px solid #568c98;
    vertical-align: top;
    position: relative;
}
.content_title{
    height: 45px;
    width: auto;
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #FFF;
    position: relative;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 17px;
    /* padding: 10px 18px 0 30px; */
    padding: 10px 35px 0 35px;
    line-height: 30px;
    color: #6e6e6e;
    font-weight: 600;
    display: inline-block;
    margin: 0 0px;
    border: 0px solid rgba(0, 0, 0, 0.12);
    border-bottom: 0px;
    text-transform: uppercase;

}
.content_title:after {
    display: block;
    content: " ";
    /* width: 30px;
    height: 35px; */
    /* background-color: #FFF;
    position: absolute; */
    /* right: -12px; */
    width: 34px;
    height: 45px;
    background-color: #FFF;
    position: absolute;
    right: -21px;
    -moz-transform: skewX(30deg);
    -o-transform: skewX(30deg);
    transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    -webkit-transform: skewX(30deg);
    z-index: 1;
    top: 0px;
    border-right: 0px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 1px 0px 0px rgba(100, 100, 100, 0.05);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 1px 0px 0px rgba(100, 100, 100, 0.05);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 1px 0px 0px rgba(100, 100, 100, 0.05);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 1px 0px 0px rgba(100, 100, 100, 0.05);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 1px 0px 0px rgba(100, 100, 100, 0.05);
}
.action{
    background-color: #ffffff;
    border-right: 0px solid rgba(0, 0, 0, 0.12);
    border-top: 0px solid rgba(0, 0, 0, 0.12);
    padding-right: 15px;
    padding-left: 5px;
    margin: 0px;
    line-height: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 45px;
}
.action:before {
    display: block;
    content: " ";
    width: 35px;
    height: 45px;
    background-color: #FFF;
    position: absolute;
    left: -15px;
    -moz-transform: skewX(30deg);
    -o-transform: skewX(30deg);
    transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    -webkit-transform: skewX(30deg);
    z-index: 1;
    top: 0px;
    border-left: 0px solid rgba(0, 0, 0, 0.12);
    border-top: 0px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), -1px 0px 0px rgba(100, 100, 100, 0.05);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), -1px 0px 0px rgba(100, 100, 100, 0.05);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), -1px 0px 0px rgba(100, 100, 100, 0.05);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), -1px 0px 0px rgba(100, 100, 100, 0.05);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), -1px 0px 0px rgba(100, 100, 100, 0.05);
}
.action i {
    color: #bdbdbd;
    font-size: 14px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 14px;
    cursor: hand;
    cursor: pointer;
    z-index: 2;
    position: relative;
    display: block;
    float: left;

}
.content_body{
    padding: 30px 30px 30px 30px;
    background-color: #ffffff;
    border: 0px solid rgba(0, 0, 0, 0.12);
}
.form-control{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 0px solid transparent;
    border-bottom: 2px solid #e1e1e1;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
    background: transparent;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    -moz-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    height: 32px;
    display: inline-block;
    width: auto;   font-size: 14px;
}
.form-control:focus{
    box-shadow: none;
    background: transparent;
    border-color: #568c98;
    outline: 0;
}
.content_table thead th{
    font-weight: 600;
    color: #424242;
    border-bottom: 1px solid #bbbbbb;
    border-top: none;
}
.content_table{
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-bottom: 1px solid #bbbbbb;
    background-color: transparent;
}
.content_table>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.content_table tbody tr td{
    border-color: #E0E0E0;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.content_table tbody{
    color: #757575;
}
.pagination li a{
    color: #757575;
    border: 1px solid #E0E0E0;
}
.pagination .active a{
    color: #fff !important;
    background-color: #568c98 !important;
    border-color: #568c98 !important;
    box-shadow: none;;
}
.pagination{
    box-shadow: none;
}
.full{
    width:100%;
}
.btn-submit{
    background: #568c98;
    color: #ffffff;
    padding: 5px 15px;
    font-size:15px;   
    border-radius: 2px;
}
.btn-default{
    background: #E0E0E0;
    color: #333333;
    padding: 5px 15px;
    font-size:15px;   
    border-radius: 2px;
}
.ml3{
    margin-left: 3px;
}

  .form-group {
    margin-bottom: 30px;
}
.form-label {
    font-weight: 300;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.form-label small {
    font-size: 12px;
    color: #999999;
    margin-top: 10px;
    margin-left: 15px;
    font-style: italic;
    text-transform: none;
}
/* // =============================================================== */

/* FREELANCING */
/* ==================================== */
.freelance .btn-submit{
    color: #fff;
    background: #54bc97;
}
.freelance .form-control:focus{
    border-color: #54bc97;
}

/* UNIVERSITY */
/* ============================ */

.university .btn-submit{
    background: #f05050 ;
    border-color: #f05050;
    margin-right: 5px;
}

.fc-content{
    border-radius: none;
    color: white;
    padding: 8px;
    background: #ec8e72;
    border: none !important;
    outline: 0;
    margin: 0
}
.university .fc-content{
    background: #33495d;

}
.fc-event{
    border:0;
}
.fc-today-button{
    text-transform: uppercase;
}
.fc-button{
    text-transform: uppercase;
}
.fc-today-button, .fc-today-button:hover,.fc-button:disabled {
    position: relative;
    top: -66px;
    left: 36px;
    background: #568c98;
    border: transparent;
    opacity:1;
}
.fc-button-group{
    top: -66px;
    left: 46px;
}
.fc-button-group .fc-button, .fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active{
    color: #333;
    background: #e0e0e0;
    border: transparent;
    outline: 0;
    box-shadow: none;;
}
.fc-header-toolbar{
    background: #568c98;
    color:#fff;
}
.fc-center h2{
    margin-left: 220px;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
}
.fc-prev-button, .fc-next-button, .fc-prev-button:hover , .fc-next-button:hover,
 .fc-button-primary:not(:disabled):active{
    background: #568c98; border: transparent;
    box-shadow: none;

}
.university.fc-prev-button, .university.fc-next-button, .university.fc-prev-button:hover , .university.fc-next-button:hover,
.university.fc-button-primary:not(:disabled):active, .university.fc-header-toolbar,.fc-today-button,
 .university.fc-today-button:hover,.university.fc-button:disabled{
    background:#eb5155;
 }
/* ======================================================================================================== */
/* SOCIAL MEDIA */
.socialmedia .btn-submit{
    background: #5bc9c5;
    border-color: #5bc9c5;
    margin-right: 5px;
}
.socialmedia .form-control:focus{
    border-color: #54bc97;
}
.active{
    transition: background-color 3s;
}
.back {
    background-color:#54bc97 !important;
}
.prograss ul li.active::after{
    border: 4px solid #54bc97 !important;
    color: #54bc97 !important;
}

/*===============================================================================================*/
/* HOSPITAL */

.hospital .btn-submit{
    background: #59c2e6;
    border-color: #59c2e6;
    margin-right: 5px;
}
.hospital .form-control:focus{
    border-color: #59c2e6;
}
.hospital.fc-prev-button, .hospital.fc-next-button, .hospital.fc-prev-button:hover , .hospital.fc-next-button:hover,
.hospital.fc-button-primary:not(:disabled):active, .hospital.fc-header-toolbar,.fc-today-button,
 .hospital.fc-today-button:hover,.hospital.fc-button:disabled, .hospital .fc-header-toolbar,.hospital .fc-prev-button,.hospital .fc-next-button,
 .hospital .fc-prev-button:hover , .hospital .fc-next-button:hover,
.hospital .fc-button-primary:not(:disabled):active,.hospital .fc-today-button, .hospital .fc-today-button:hover,.hospital .fc-button:disabled{
    background:#59c2e6;
 }
 .hospital .fc-content{
    background: #4f5f6f;
    font-weight: 700;
 }
 @media (min-width: 991px) and (max-width: 1084px) {
    .fc-center h2{
        margin-right: 187px;
        margin-left: 145px;

    }
    .fc-next-button{
        float: right;
    }
    .fc-right{
        positioN: absolute;
        /* float: right; */
        right: 15px;
    }
}