<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Edit Department';">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="data">
            <header class="panel_content">
                <h2 class="float-left content_title">Department Basic Info</h2>
                <div class="float-right action">
                    <i class="material-icons"
                        (click)="showBasic=!showBasic">{{showBasic?'expand_more':'expand_less'}}</i>
                    <i class="material-icons">mode_edit</i>
                    <i class="material-icons">close</i>
                </div>
            </header>
            <div class="content_body p-b-15">
                <div class="row" *ngIf="showBasic">

                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <form>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Department Name</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="Computer Engineering" class="form-control full"
                                        id="field-1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Head of Department</label>
                                <span class="desc">Eg: Prof. John Law</span>
                                <div class="controls">
                                    <input type="text" value="Prof. Williams" class="form-control full" id="field-1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">No. of Students</label>
                                <span class="desc">Eg: 400.</span>
                                <div class="controls">
                                    <input type="text" value="434" class="form-control full" id="field-1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-6">Brief</label>
                                <span class="desc">e.g. "Enter any size of text description here"</span>
                                <div class="controls">
                                    <textarea class="form-control full" cols="5"
                                        id="field-6">A brief note about the department and its subjects comes here.</textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                        <div class="text-left">
                            <button type="button" class="btn btn-submit">Save</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="data">
            <header class="panel_content">
                <h2 class="float-left content_title">Staff Member Account Info</h2>
                <div class="float-right action">
                    <i class="material-icons"
                        (click)="showInfo=!showInfo">{{showInfo?'expand_more':'expand_less'}}</i>
                    <i class="material-icons">mode_edit</i>
                    <i class="material-icons">close</i>
                </div>
            </header>
            <div class="content_body p-b-15">
                <div class="row" *ngIf="showInfo">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <form>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Email</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="emaildept@example.com" class="form-control full"
                                        id="field-3">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-2">Phone</label>
                                <span class="desc">e.g. "(534) 253-5353"</span>
                                <div class="controls">
                                    <input type="text" ng-init="mask1='(545) 323-4354'" name="masked"
                                        ui-mask="(999) 999-9999" placeholder="(999) 999-9999" class="form-control full"
                                        ng-model="mask1" required>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                        <div class="text-left">
                            <button type="button" class="btn btn-submit">Save</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>