<div class='content-wrapper'>
    <form [formGroup]="professorAddform">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <section class="data">
                <header class="panel_content">
                    <app-step-tab [tab]="Tab" (id)="selectedTab($event)" [tabId]="tabId"></app-step-tab>
                </header>
                <div class="content_body p-b-15" *ngIf="showBasic">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12"
                            [formGroup]="professorAddform.get('basic_info')">
                            <!-- <form> -->
                            <div class="form-group">
                                <label class="form-label" for="field-1">Name<span class="text-danger"> *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1" formControlName="name">
                                    <p *ngFor="let validation of validation_messages.name">
                                        <span class="error-message"
                                            *ngIf="professorAddform.get('basic_info').get('name').hasError(validation.type) && (professorAddform.get('basic_info').get('name').dirty || professorAddform.get('basic_info').get('name').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Date of Birth<span class="text-danger">
                                        *</span></label>
                                <span class="desc">e.g. "04/03/2015"</span>
                                <div class="controls">
                                    <input type="text" mask="d0/M0/0000" placeholder="MM/DD/YYYY"
                                        class="form-control full" required formControlName="date_of_birth">
                                    <p *ngFor="let validation of validation_messages.date_of_birth">
                                        <span class="error-message"
                                            *ngIf="professorAddform.get('basic_info').get('date_of_birth').hasError(validation.type) && (professorAddform.get('basic_info').get('date_of_birth').dirty || professorAddform.get('basic_info').get('date_of_birth').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Gender<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="input-group" inputgroup>
                                    <select class="form-control" formControlName="gender">
                                        <option></option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                                <p *ngFor="let validation of validation_messages.gender">
                                    <span class="error-message"
                                        *ngIf="professorAddform.get('basic_info').get('gender').hasError(validation.type) && (professorAddform.get('basic_info').get('gender').dirty || professorAddform.get('basic_info').get('gender').touched)">
                                        {{ validation.message }}
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Profile Image<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="file" class="form-control full" id="field-5"
                                        formControlName="profile_image" (change)="handleCategoryBanner($event)">
                                    <p *ngFor="let validation of validation_messages.profile_image">
                                        <span class="error-message"
                                            *ngIf="professorAddform.get('basic_info').get('profile_image').hasError(validation.type) && (professorAddform.get('basic_info').get('profile_image').dirty || professorAddform.get('basic_info').get('profile_image').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                    <img src="{{imageURI}}" class="img-fluid" height="200px" width="200px" *ngIf="imageURI">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Department<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="input-group" inputgroup>
                                    <select class="form-control " formControlName="department">
                                        <option>Computer Engineering</option>
                                        <option>Architecture</option>
                                        <option>MBA</option>
                                        <option>Automobile Engg.</option>
                                        <option>Civil Engg.</option>
                                        <option>Mechanical Engg.</option>
                                        <option>BBA</option>
                                    </select>
                                </div>
                                <p *ngFor="let validation of validation_messages.department">
                                    <span class="error-message"
                                        *ngIf="professorAddform.get('basic_info').get('department').hasError(validation.type) && (professorAddform.get('basic_info').get('department').dirty || professorAddform.get('basic_info').get('department').touched)">
                                        {{ validation.message }}
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Position<span class="text-danger">
                                        *</span></label>
                                <span class="desc">Eg: Head of Dept.</span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-1"
                                        formControlName="position">
                                </div>
                                <p *ngFor="let validation of validation_messages.position">
                                    <span class="error-message"
                                        *ngIf="professorAddform.get('basic_info').get('position').hasError(validation.type) && (professorAddform.get('basic_info').get('position').dirty || professorAddform.get('basic_info').get('position').touched)">
                                        {{ validation.message }}
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-6">Brief<span class="text-danger"> *</span></label>
                                <span class="desc">e.g. "Enter any size of text description here"</span>
                                <div class="controls">
                                    <textarea class="form-control full" cols="5" id="field-6"
                                        formControlName="brief"></textarea>
                                    <p *ngFor="let validation of validation_messages.brief">
                                        <span class="error-message"
                                            *ngIf="professorAddform.get('basic_info').get('brief').hasError(validation.type) && (professorAddform.get('basic_info').get('brief').dirty || professorAddform.get('basic_info').get('brief').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Website URL<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-61"
                                        formControlName="website_url">
                                    <p *ngFor="let validation of validation_messages.website_url">
                                        <span class="error-message"
                                            *ngIf="professorAddform.get('basic_info').get('website_url').hasError(validation.type) && (professorAddform.get('basic_info').get('website_url').dirty || professorAddform.get('basic_info').get('website_url').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-submit" (click)="nextToaccountInfo()">Next</button>
                                <button type="button" class="btn btn-default" (click)="resetBasic()">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_body p-b-15" *ngIf="showInfo">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12"
                            [formGroup]="professorAddform.get('account_info')">
                            <!-- <form> -->
                            <div class="form-group">
                                <label class="form-label" for="field-1">Email<span class="text-danger"> *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" id="field-3" formControlName="email">
                                    <p *ngFor="let validation of validation_messages.email">
                                        <span class="error-message"
                                            *ngIf="professorAddform.get('account_info').get('email').hasError(validation.type) && (professorAddform.get('account_info').get('email').dirty || professorAddform.get('account_info').get('email').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-2">Phone<span class="text-danger"> *</span></label>
                                <span class="desc">e.g. "(534) 253-5353"</span>
                                <div class="controls">
                                    <input type="text" mask="(000) 000-0000" placeholder="(999) 999-9999"
                                        class="form-control full" ng-model="mask1" required formControlName="phone">
                                    <p *ngFor="let validation of validation_messages.phone">
                                        <span class="error-message"
                                            *ngIf="professorAddform.get('account_info').get('phone').hasError(validation.type) && (professorAddform.get('account_info').get('phone').dirty || professorAddform.get('account_info').get('phone').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-2">Password<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="password" value="" class="form-control full" id="field-2"
                                        formControlName="password">
                                    <p *ngFor="let validation of validation_messages.password">
                                        <span class="error-message"
                                            *ngIf="professorAddform.get('account_info').get('password').hasError(validation.type) && (professorAddform.get('account_info').get('password').dirty || professorAddform.get('account_info').get('password').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-2">Confirm Password<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="password" value="" class="form-control full" id="field-21"
                                        formControlName="confirm_password">
                                    <p *ngFor="let validation of validation_messages.confirm_password">
                                        <span class="error-message"
                                            *ngIf="professorAddform.get('account_info').get('confirm_password').hasError(validation.type) && (professorAddform.get('account_info').get('confirm_password').dirty || professorAddform.get('account_info').get('confirm_password').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-submit" (click)="showBasictab()">Back</button>
                                <button type="button" class="btn btn-submit" (click)="nextToContact()">Next</button>
                                <button type="button" class="btn btn-default" (click)="resetAccount()">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_body p-b-15" *ngIf="showContact">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12"
                            [formGroup]="professorAddform.get('social_media_info')">
                            <!-- <form> -->
                            <div class="form-group">
                                <label class="form-label" for="field-1">Facebook URL<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" value="http://www.facebook.com/userID"
                                        id="field-31" formControlName="facebook_url">
                                    <p *ngFor="let validation of validation_messages.facebook_url">
                                        <span class="error-message"
                                            *ngIf="professorAddform.get('social_media_info').get('facebook_url').hasError(validation.type) && (professorAddform.get('social_media_info').get('facebook_url').dirty || professorAddform.get('social_media_info').get('facebook_url').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Twitter URL<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full" value="http://www.twitter.com/userID"
                                        id="field-41" formControlName="twitter_url">
                                    <p *ngFor="let validation of validation_messages.twitter_url">
                                        <span class="error-message"
                                            *ngIf="professorAddform.get('social_media_info').get('twitter_url').hasError(validation.type) && (professorAddform.get('social_media_info').get('twitter_url').dirty || professorAddform.get('social_media_info').get('twitter_url').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Google Plus URL<span class="text-danger">
                                        *</span></label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control full"
                                        value="http://www.plus.google.com/userID" id="field-51"
                                        formControlName="google_plus_url">
                                    <p *ngFor="let validation of validation_messages.google_plus_url">
                                        <span class="error-message"
                                            *ngIf="professorAddform.get('social_media_info').get('google_plus_url').hasError(validation.type) && (professorAddform.get('social_media_info').get('google_plus_url').dirty || professorAddform.get('social_media_info').get('google_plus_url').touched)">
                                            {{ validation.message }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-submit" (click)="showAccounttab()">Back</button>
                                <button type="button" class="btn btn-submit" (click)="submit()"
                                    *ngIf="!updateBtn">Save</button>
                                <button type="button" class="btn btn-submit" (click)="Update()"
                                    *ngIf="updateBtn">Update</button>
                                <button type="button" class="btn btn-default" (click)="resetMedia()">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
</div>
<app-delete-modal></app-delete-modal>